.al_body_template_one .mobile-account span{
    font-family: 'Zen Kaku Gothic Antique',sans-serif!important;
}
.dark.al_body_template_one .mobile-account span{
    color: #fff;
}
.dark.al_body_template_one .mobile-account svg g,
.dark.al_body_template_one .mobile-account svg g rect {
    stroke: #fff!important;
    fill: #fff!important;
}
.dark .search_bar ul.d-flex.align-items-center.m-0 li a {
    border: unset;
}
.al_body_template_one span#cart_qty_span:empty{
    display: none;
}
.dark.al_body_template_one .main-menu .menu-right .icon-nav li.mobile-account ul li a{
    color: #fff;    
}
.al_body_template_one .main-menu .menu-right .icon-nav li.mobile-account ul li a{
    font-family: 'Zen Kaku Gothic Antique',sans-serif!important;
}
article#page-container {
    position: relative;
    /* min-height: 100vh; */
    /* overflow: hidden; */
}
.section-b-space .container .row .col-lg-3 >.dashboard-left {
    /* position: sticky; */
    top: 160px;
}
.al_body_template_one .container {
    max-width: 1400px;
    
}
.search_bar.menu-right .icon-nav a svg {
    width: 16px;
}
.search_form button.btn svg {
    width: 16px;
}
.dark .new-tag {
    color: #fff;
}

body.al_body_template_one .top-header.site-topbar.al_template_one .location-bar.d-flex.align-items-center.justify-content-start.m-0.p-0.dropdown-toggle.order-1.ellips::after {
    display: none !important;
}

.site-topbar .location-bar h2 {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    width: calc(100% - 11%);
    font-weight: 400!important
}

.site-topbar .location-bar h2:after {
    font: normal normal normal 28px/1 FontAwesome;
    content: "\f107";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
}

body .pixelstrap li a:hover .nav-cate-img {
    background-color: transparent
}

.site-topbar .map-icon .yl-text {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    color: #fff
}

.top-header .header-dropdown .onhover-dropdown .onhover-show-div li {
    background-color: #fff
}

.search_bar.menu-right .icon-nav {
    text-align: center;
}
.search_bar.menu-right .icon-nav a span {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
}
.search_bar .bg-cart-header {
    color: #fff !important;
    display: inline-block;
    height: 18px;
    background: var(--theme-deafult);
    position: absolute;
    border-radius: 50%;
    top: 4px;
    width: 18px;
    right: 0px;
}
.fixed-bar .menu-slider li a {
    font-weight: 600;
    transition: .5s;
}
.site-topbar .location-bar span,
.top-header .header-dropdown li,
.top-header .header-dropdown li a,
.top-header .header-dropdown li span {
    font-size: 12px!important;
    line-height: 22px
}

body a.navbar-brand img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

body .navigation-tab,
body .navigation-tab-overlay {
    border-radius: 40px
}

#address-map-container {
    width: 100%;
    height: 250px;
    border-radius: 10px!important;
    overflow: hidden
}

#address-map-container #address-map {
    width: 100%;
    height: 100%
}

.al_template_one_menu .container-fluid,
.al_template_two_menu .container-fluid {
    max-width: 100%
}

.menu-navigation .sm.pixelstrap.sm-horizontal.menu-slider.items-center .slick-prev {
    left: -20px
}

.menu-slider .slick-next.slick-disabled,
.menu-slider .slick-prev.slick-disabled {
    opacity: 0
}

#main-menu .slick-list {
    overflow: inherit
}

.menu-slider.items-center .slick-track {
    justify-content: space-between
}

.sm li {
    position: relative;
    display: inline-block!important
}

.al_body_template_one .nav-cate-img {
    height: 50px;
    width: 50px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 5px auto
}

.al_body_template_one .fixed-bar .nav-cate-img {
    display: none
}

.menu-navigation ul.sm.pixelstrap.sm-horizontal {
    width: calc(100% - 0px);
    margin: auto;
    justify-content: center;
    white-space: nowrap;
    justify-content: center
}

ul.sm.pixelstrap.sm-horizontal {
    text-align: center
}
.navigation-tab {
    border-radius: 40px;
background:none;border:none !important;
}

.navigation-tab .nav-link {
    font-weight: 400;
    font-size: 16px
}

.navigation-tab .nav-link.active {
    color: #fff !important;
    background-color: var(--theme-deafult) !important;
    border-radius: 40px;
}

.nav-tabs {
    border-bottom: 0 solid #dee2e6
}

.onhover-div i,
.onhover-div img {
    font-size: 20px
}

.radius-bar.d-xl-inline.al_custom_search {
    width: 100%
}

.al_custom_search button.btn {
    padding: 7px 6px 0 0
}

.radius-bar,
.search_form {
    border-color: #f7f7f7!important;
    background-color: #f5f5f6;
    border-radius: 30px
}

.radius-bar .form-control {
    background-color: transparent
}

.search_form {
    padding: 0 10px
}

.main-menu .menu-right .icon-nav li.d-ipad {
    display: none!important
}

.search_bar .icon-nav .btn.btn-solid {
    border-radius: 30px;
    border-radius: 30px;
    padding: 4px 12px;
    font-size: 12px
}

.mobile-menu.main-menu .menu-right_ {
    background-color: #fff;
    padding: 20px 0;
    border-radius: 80px;
    box-shadow: 0 0 9px #000
}

.top-header .mobile-menu.main-menu .header-dropdown li.al_iconsMb i {
    cursor: pointer;
    color: #fff;
    padding: 0;
    line-height: normal;
    right: 0;
    width: 20px;
    height: 22px
}

.top-header .mobile-menu.main-menu .header-dropdown li i {
    font-size: 20px;
    color: #000!important;
    padding: 0
}

.top-header .mobile-menu.main-menu .header-dropdown li.al_iconsMb {
    padding: 0;
    display: inline-block!important;
    line-height: normal;
    left: 0;
    right: 0;
    position: inherit
}

.al_main_category_list li {
    display: block!important
}

.pixelstrap ul a:before {
    display: none
}

.pixelstrap ul {
    padding: 10px 0
}

.pixelstrap ul.al_main_category_list li:hover a {
    border-color: var(--theme-deafult)!important
}

.pixelstrap ul.al_main_category_list li a {
    padding: 5px!important;
    text-align: left;
    margin: 0!important;
    width: 100%;
    border-left: 2px solid transparent!important
}
.al_body_template_one .breadcrumb-section {
    background-color: #f8f8f8;
    padding: 0
}

.common-banner {
    height: 300px
}

.common-banner img,
.category-block .category-image img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.category-list li.active a,
.category-list li:hover a,
.top-header .header-dropdown .onhover-dropdown .onhover-show-div li:hover a {
    border-color: var(--theme-deafult);
    background: linear-gradient(90deg, var(--theme-deafult) -540%, #fff 100%)
}

.search_bar .icon-nav .btn.btn-solid_al svg path {
    stroke: var(--theme-deafult)
}

.search_bar .icon-nav .fav-button i {
    font-size: 18px
}

/* body.al_body_template_one a.navbar-brand img {
    height: 40px
} */

body.al_body_template_two {
    background-color: #fff
}

.search_bar .icon-nav .btn.btn-solid_al svg path {
    stroke: var(--theme-deafult)
}

.search_bar .icon-nav .fav-button i {
    font-size: 18px
}

.al_template_one_menu .mobile-header .navigation-tab-item .nav-link {
    font-size: 12px;
    text-transform: capitalize;
}

.search_bar ul.d-flex.align-items-center.m-0 {
    padding: 0;
}

.search_bar ul.d-flex.align-items-center.m-0 li {
    display: inline-block;
}

/* P2P header css */
.al_body_template_one  li.add_post a.sell-btn span {
    padding: 10px 20px!important;
    background: var(--theme-deafult);
    display: inline-block;
    color: #fff!important;
    border-radius: 99px;
    font-weight: 700;
}
.al_body_template_one  li.add_post a.sell-btn span {
    padding: 10px 20px!important;
    background: var(--theme-deafult);
    display: inline-block;
    color: #fff!important;
    border-radius: 99px;
    font-weight: 600!important;
    margin-left: 10px;
    font-size: 14px!important;
}
.al_body_template_one  .search_bar.menu-right .icon-nav a svg {
    width: 100%;
    max-width: 16px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.al_body_template_one .main-menu .menu-right .icon-nav li {
    padding-right: 10px;
    padding-left: 0!important;
}
.al_body_template_one .main-menu .menu-right .icon-nav li:last-child{
    padding-right: 0!important;
}
.al_body_template_one  .onhover-dropdown:before{
    bottom: 0;
    content: unset;
}
.al_body_template_one  .mobile-account svg {
    width: 100%;
    max-width: 16px;
    display: block;
    margin: 0 auto;
}
.al_body_template_one  .search_bar.menu-right .icon-nav a svg {
    width: 100%;
    max-width: 16px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.al_body_template_one .search_bar.menu-right .icon-nav a span{
    line-height: 1;
}
.al_body_template_one .search_bar.menu-right .icon-nav {
    text-align: center;
    padding-right: 20px;
}
body.al_body_template_nine .main-menu .menu-right .icon-nav li ul.onhover-show-div {
    display: block;
    padding: 5px 0;
    border-radius: 5px!important;
    box-shadow: 0 0 10px #ccc;
}
body.al_body_template_one .main-menu .menu-right .icon-nav li ul.onhover-show-div li {
    width: 100%;
    display: block;
    padding: 0!important;
}
.al_body_template_one  .main-menu .menu-right .icon-nav li.mobile-account ul li a {
    width: 100%;
    padding: 7px 15px!important;
    display: inline-block;
    border-left: 3px solid transparent;
    color: #000;
}
.al_body_template_one  .main-menu .menu-right .icon-nav li.mobile-account ul li a:hover {
    border-color: var(--theme-deafult);
    background: linear-gradient(90deg,#f7ebec 0,rgba(251,246,247,0) 92.47%);
}
.al_body_template_one  .mobile-account  span {
    color: #000;
    font-size: 12px;
}
.al_body_template_one  li.add_post a.sell-btn span i {
    padding-right: 5px;
}
.al_body_template_one  .onhover-show-div li:first-child a {
    margin-top: 5px;
}
.al_body_template_one .main-menu .menu-right .icon-nav li.mobile-account ul li a{
    font-size: 13px;
}
.al_body_template_one  .main-menu .logo {
    display: flex;
    align-items: center;
}
.al_body_template_one  .mobile-header {
    padding: 10px 0;
}
.search_bar ul.d-flex.align-items-center.m-0  li.add_post {
    padding-right: 0!important;
}


/*==========  start Dark the header css 02-03-20223 ==========*/
    body.dark .search_bar  svg g {
        fill: #cfd4da;
    }
    body.dark .search_bar.menu-right .icon-nav a span{
        color: #cfd4da;
    }
    body.dark  .pixelstrap li a:hover .nav-cate-img {
        background-color: #fff;
    }


    .fixed-bar .menu-slider .slick-prev, .fixed-bar .menu-slider .slick-next {
        height: 15px;
        width: 15px;
        background-size: 15px;
    }    
    .al_template_one_menu {
        padding: 5px 0!important;
    }
/*==========  end Dark the header css 02-03-20223 ==========*/

.al_custom_search button.btn{
    padding: 0 5px;
}

@media (max-width:1400px) {
    .main-menu.al_template_one_menu .container {
        max-width: 100%;
        padding: 0 15px !important;
    }
    .radius-bar.d-xl-inline.al_custom_search input {
        max-width: 130px;
        min-width: 130px;
    }
}
@media (max-width:1060px) {
    .site-header  .logo {
        width: 100%;
        justify-content: center;
    }
    .al_body_template_one .main-menu.al_template_one_menu .ipad-view{
        margin-bottom: 0!important;
    }
}
@media (max-width:991px) {
    .dashboard-left{
        top: 72px;
    }
    .section-b-space .container .row .col-lg-3 >.dashboard-left {
        padding: 0;
        top:70px;
    }
    .account-sidebar {
        width: 30%;
    }
    
    .section-b-space .container .row .col-lg-3 >.dashboard-left {
        z-index: 99;
    }
    .al_count_tabs.my-1 {
        max-width: 400px;
        border-radius: 50px;
        overflow-y: hidden;
    }
    .al_body_template_one .top-header .header-dropdown li.onhover-dropdown {
        padding: 0 12px;
    }
    .shimmer_effect .loading.cardbanner {
        height: 160px;
    }
}

@media (max-width:767px) {
    .al_body_template_one .pixelstrap .al_main_category:hover ul.al_main_category_list {
        width: 200px !important;
    }
    .al_body_template_one article#content-wrap {
        overflow-x: hidden;
    }
    .al_body_template_one .al_custom_brand a.brand-box.d-block.black-box {
        height: 100% !important;
        padding: 0;
    }
    .al_body_template_one .al_custom_brand .brand-ing {
        height: 100px;
        width: 100px;
    }
    .radius-bar {
        width: 100%;
        position: fixed;
        z-index: 11111;
        bottom: 74px;
        left: 0;
        right: 0;
        margin: auto;
        display: none;
        border-radius: 0!important;
    }
    .pixelstrap a .sub-arrow {
        display: none;
    }
    .nav-tabs .nav-link {
        font-weight: 500;
        padding: 5px 10px;
        font-size: 14px;
    }
    .top-header .mobile-menu.main-menu .header-dropdown li.al_iconsMb ul.onhover-show-div {
        position: absolute;
        right: auto;
        display: none;
    }
    .top-header .mobile-menu.main-menu .header-dropdown li.al_iconsMb ul.onhover-show-div.open {
        right: auto;
        bottom: 80px;
        box-shadow: 0 0 5px rgb(0 0 0 / 30%);
        border-radius: 6px;
        padding-bottom: 10px;
    }
    .top-header .mobile-menu.main-menu .header-dropdown li.al_iconsMb ul.onhover-show-div li a {
        color: #777;
        padding: 0px 10px !important;
    }
    .top-header .mobile-menu.main-menu .header-dropdown li.al_iconsMb ul.onhover-show-div li {
        display: block;
        padding: 10px 0 0;
        line-height: 1;
    }
    .payment-card-bottom.text-center.d-flex {
        margin-bottom: 20px;
    }
    article#content-wrap {
        padding-bottom: 0 !important;
    }
    ul.social-links.d-flex {
        margin-bottom: 10px;
    }
    .show-div.setting li {
        display: block;
    }
    li.onhover-div.al_mobile-search div#search-overlay {
        display: none !important;
    }
    section.home-slider-wrapper.py-sm-3 {
        padding: 24px 0!important;
    }
    .navbar-brand {
        padding: 0;
        height: 40px!important
    }
    .top-header.site-topbar.al_template_one {
        height: auto;
        background-color: transparent
    }
    .mobile-menu.main-menu {
        bottom: 0;
        padding: 10px;
        width: 95%;
        background-color: transparent;
        box-shadow: none
    }
    .top-header .header-dropdown .mobile-account,
    .top-header .header-dropdown .mobile-wishlist {
        bottom: 10px;
        top: auto
    }
    .site-topbar .map-icon .yl-text {
        display: none
    }
    .map-icon.mr-1 svg path {
        fill: var(--theme-deafult)
    }
    .site-topbar .location-bar h2 {
        color: #777;
        width: calc(100% - 25%);
        float: left;
        padding-right: 5px
    }
    .site-topbar .location-bar h2 span {
        width: 100%;
        overflow: hidden;
        float: left;
        text-overflow: ellipsis
    }
    .menu-slider .slick-next {
        right: -23px
    }
    .al_body_template_one .site-topbar .location-bar h2:after {
        right: 20px!important;
    }
    article#page-container {
        position: relative;
        /* min-height: 100vh; */
    }
    body.al_body_template_one header.site-header.fixed-bar .pixelstrap li .nav-cate-img {
        display: none
    }
    body .pixelstrap li a:hover,
    body.al_body_template_one .pixelstrap li a {
        padding: 0;
        margin: 0 10px;
        line-height: normal;
    }
    .al_body_template_one .al_main_category_list li.active a,
    .al_body_template_one .al_main_category_list li:hover a {
        background: linear-gradient(90deg, var(--theme-deafult) -540%, #fff 100%)
    }
    .dark.al_body_template_one .al_main_category_list li.active a,
    .dark.al_body_template_one .al_main_category_list li:hover a {
        background: linear-gradient(90deg, var(--theme-deafult) -540%, #232323 100%)
    }
    .al_template_one_menu .mobile-header .navigation-tab-item .nav-link.active {
        color: #fff;
    }
    /* topbar css */
    ul.header-dropdown.d-none.d-sm-inline {
        padding: 0;
    }
    ul.header-dropdown.d-none.d-sm-inline li {
        display: inline-block;
    }
    /* menu css */
    .pixelstrap ul {
        padding: 0;
        background: #fff;
        position: absolute;
        width: 16em !important;
        border: none;
        box-shadow: 0 1px 6px 0 #ebebeb;
        border-radius: 0;
        z-index: 9;
        display: none;
        list-style: none;
        margin: 0;
        line-height: normal;
        direction: ltr;
        text-align: left;
        top: auto;
    }
    .dark .pixelstrap ul {
        background-color: #242424;
        box-shadow: 0 1px 6px 0 #242424;
    }
    .dark .pixelstrap ul.al_main_category_list li,
    .dark .pixelstrap ul.al_main_category_list li a,
    .dark .pixelstrap ul.al_main_category_list li a span.new-tag {
        color: #fff;
    }
    .pixelstrap ul li.al_main_category {
        display: block;
        margin: 0 20px;
    }
    .pixelstrap ul li a {
        padding: 10px !important;
        text-align: left;
        width: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        letter-spacing: 0;
        display: block;
        font-size: 14px;
        text-transform: capitalize;
        white-space: normal;
        font-weight: 400;
        line-height: 23px;
        text-decoration: none;
    }
    .pixelstrap ul li a:hover {
        background-color: #eee;
    }
    .dark .pixelstrap ul li a:hover {
        background-color: #333;
    }
    .pixelstrap ul li a:hover span.new-tag {
        color: var(--theme-deafult)
    }
    .pixelstrap ul li a span.new-tag {
        font-size: 14px;
    }
    #main-menu .slick-list {
        overflow: inherit;
    }
    .al_searchType .form-control {
        background-color: transparent;
    }
    .site-topbar .location-bar h2 {
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        width: calc(100% - 11%);
        font-weight: 400 !important
    }
    .site-topbar .location-bar h2:after {
        font: normal normal normal 28px/1 FontAwesome;
        content: "\f107";
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    body .pixelstrap li a:hover .nav-cate-img {
        background-color: transparent
    }
    .site-topbar .map-icon .yl-text {
        line-height: normal;
        height: auto;
        display: inline-block;
        vertical-align: middle;
        color: #fff
    }
    .top-header .header-dropdown .onhover-dropdown .onhover-show-div li {
        background-color: #fff
    }
    .site-topbar .location-bar span,
    .top-header .header-dropdown li,
    .top-header .header-dropdown li a,
    .top-header .header-dropdown li span {
        font-size: 12px !important;
        line-height: 22px
    }
    body a.navbar-brand img {
        height: 100%
    }
    body .navigation-tab,
    body .navigation-tab-overlay {
        border-radius: 40px
    }
    #address-map-container {
        width: 100%;
        height: 250px;
        border-radius: 10px !important;
        overflow: hidden
    }
    #address-map-container #address-map {
        width: 100%;
        height: 100%
    }
    .al_template_one_menu .container-fluid,
    .al_template_two_menu .container-fluid {
        max-width: 100%
    }
    .menu-navigation .sm.pixelstrap.sm-horizontal.menu-slider.items-center .slick-prev {
        left: -20px
    }
    .menu-slider .slick-next.slick-disabled,
    .menu-slider .slick-prev.slick-disabled {
        opacity: 0
    }
    #main-menu .slick-list {
        overflow: inherit
    }
    .menu-slider.items-center .slick-track {
        justify-content: space-between
    }
    .sm li {
        position: relative;
        display: inline-block !important
    }
    .al_body_template_one .nav-cate-img {
        height: 30px;
        width: 30px;
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 5px auto
    }
    .al_body_template_one .fixed-bar .nav-cate-img {
        display: none
    }
    .menu-navigation ul.sm.pixelstrap.sm-horizontal {
        width: calc(100% - 0px);
        margin: auto;
        justify-content: center;
        white-space: nowrap;
        justify-content: center
    }
    ul.sm.pixelstrap.sm-horizontal {
        text-align: center
    }
    .navigation-tab {
        border-radius: 40px;
        background-color: #eee
    }
    .navigation-tab .nav-link {
        font-weight: 400;
        font-size: 16px
    }
    .navigation-tab .nav-link.active {
        color: var(--theme-deafult) !important;
        background-color: var(--theme-deafult) !important;
        border-radius: 40px;
    }
    .nav-tabs {
        border-bottom: 0 solid #dee2e6
    }
    .onhover-div i,
    .onhover-div img {
        font-size: 20px
    }
    .radius-bar.d-xl-inline.al_custom_search {
        width: 100%
    }
    .al_custom_search button.btn {
        padding: 7px 6px 0 0
    }
    .radius-bar,
    .search_form {
        border-color: #f7f7f7 !important;
        background-color: #f7f7f7;
        border-radius: 30px
    }
    .radius-bar .form-control {
        background-color: transparent
    }
    .search_form {
        padding: 0 10px
    }
    .main-menu .menu-right .icon-nav li.d-ipad {
        display: none !important
    }
    .search_bar .icon-nav .btn.btn-solid {
        border-radius: 30px;
        border-radius: 30px;
        padding: 4px 12px;
        font-size: 12px
    }
    .mobile-menu.main-menu .menu-right_ {
        background-color: #fff;
        padding: 20px 0;
        border-radius: 80px;
        box-shadow: 0 0 9px #000
    }
    .top-header .mobile-menu.main-menu .header-dropdown li.al_iconsMb i {
        cursor: pointer;
        color: #fff;
        padding: 0;
        line-height: normal;
        right: 0;
        width: 20px;
        height: 22px
    }
    .top-header .mobile-menu.main-menu .header-dropdown li i {
        font-size: 20px;
        color: #000 !important;
        padding: 0
    }
    .top-header .mobile-menu.main-menu .header-dropdown li.al_iconsMb {
        padding: 0;
        display: inline-block !important;
        line-height: normal;
        left: 0;
        right: 0;
        position: inherit
    }
    .al_main_category_list li {
        display: block !important
    }
    .pixelstrap ul a:before {
        display: none
    }
    .pixelstrap ul {
        padding: 10px 0
    }
    .pixelstrap ul.al_main_category_list li:hover a {
        border-color: var(--theme-deafult) !important
    }
    .pixelstrap ul.al_main_category_list li a {
        padding: 5px !important;
        text-align: left;
        margin: 0 !important;
        width: 100%;
        border-left: 2px solid transparent !important
    }
    .pixelstrap .al_main_category:hover ul.al_main_category_list {
        display: block
    }
    .al_body_template_one .breadcrumb-section {
        background-color: #f8f8f8;
        padding: 0
    }
    .common-banner {
        height: 300px
    }
    .common-banner img,
    .category-block .category-image img {
        height: 100%;
        width: 100%;
        object-fit: cover
    }
    .category-list li.active a,
    .category-list li:hover a,
    .top-header .header-dropdown .onhover-dropdown .onhover-show-div li:hover a {
        border-color: var(--theme-deafult);
        background: linear-gradient(90deg, var(--theme-deafult) -540%, #fff 100%)
    }
    .search_bar .icon-nav .btn.btn-solid_al svg path {
        stroke: var(--theme-deafult)
    }
    .search_bar .icon-nav .fav-button i {
        font-size: 18px
    }
    body.al_body_template_one a.navbar-brand img {
        height: 40px
    }
    body.al_body_template_two {
        background-color: #fff
    }
    .search_bar .icon-nav .btn.btn-solid_al svg path {
        stroke: var(--theme-deafult)
    }
    .search_bar .icon-nav .fav-button i {
        font-size: 18px
    }
    .al_template_one_menu .mobile-header .navigation-tab-item .nav-link {
        font-size: 12px;
    }
    .search_bar ul.d-flex.align-items-center.m-0 {
        padding: 0;
    }
    .search_bar ul.d-flex.align-items-center.m-0 li {
        display: inline-block;
    }
    .al_body_template_one .pixelstrap li{
        line-height: 1;
    }
}

@media (max-width:1400px) {
    .main-menu.al_template_one_menu .container {
        max-width: 100%;
        padding: 0 15px !important;
    }
    .radius-bar.d-xl-inline.al_custom_search input {
        max-width: 130px;
        min-width: 130px;
    }
    .al_body_template_one .container {
        padding: 0 25px;
    }
}


@media (max-width:1200px) {
    .radius-bar.d-xl-inline.al_custom_search input {
        max-width: 68px;
        min-width: 68px;
    }
}
@media (max-width:1024px) {
    body .navigation-tab-item .nav-link{
        padding: 5px;
        font-size: 10px!important;
    }
    .mobile-header .logo a.navbar-brand {
        margin-right: 0!important;
        padding: 5px 0!important;
        height: 50px!important;
    }
    .top-header .header-dropdown li.onhover-dropdown{
        padding: 0 10px!important;
    }
}

@media (max-width:991px) {
    .al_body_template_one ul.exzoom_img_ul img {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-height: 500px;
    }
    .al_body_template_one .img-zoom-result {
        display: none;
    }
    .al_body_template_one .page-main-content .col-grid-box {
        max-width: 30%;
        margin-right: 10px;
        width: 30%;
        flex: 30%;
        margin-left: 14px;
    }
    .al_count_tabs.my-1 {
        max-width: 100%;
        border-radius: 50px;
        overflow-y: hidden;
    }
    .al_body_template_one .main-menu.al_template_one_menu .ipad-view {
        margin-bottom: 0;
    }
    .al_body_template_one .top-header .header-dropdown li.onhover-dropdown {
        padding: 0 12px;
    }
    .shimmer_effect .loading.cardbanner {
        height: 160px;
    }
    .top-header .header-dropdown li.onhover-dropdown {
        padding: 0 5px!important;
    }
    .al_template_one .homepage-address{
        width: auto;
    }
    .top-header.site-topbar .row .col-sm-6 {
        width: auto;
        max-width: inherit;
        flex: unset;
    }
}
@media (max-width:860px) and (min-width:768px)  {
    .al_count_tabs.my-1 {
        width: 250px;
    }
    .al_count_tabs.my-1 > ul{
        padding: 10px 0;
        margin: 0 auto;
    }
    .radius-bar.d-xl-inline.al_custom_search input {
        max-width: 130px;
        min-width: 130px;
    }
}
@media (max-width:767px) {
    .al_body_template_one .displayProducts .inner_spacing h6 {
        margin: 10px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .al_body_template_one .main-menu.al_template_one_menu .container {
        display: none;
    }
    .al_body_template_one .product-image img.img-fluid.blur-up.lazyloaded {
        object-fit: cover;
        padding: 0;
    }
    .al_body_template_one .outter-fillter-data .custom_filtter ul {
        display: none;
    }
    .al_body_template_one .product-wrapper-grid .col-xl-3.col-md-3.col-6.mt-3 {
        width: 50%;
        max-width: 50%;
        flex: 50%;
    }
    .al_template_one_menu .add-cart-btn {
        height: 33px !important;
        line-height: 24px !important;
    }
    .al_template_one_menu .sm .al_main_category {
        margin: 0;
    }
    .al_body_template_one section.section-b-space .row.my-md-3.mt-5.pt-4 {
        margin-top: 0 !important;
        padding: 0 !important;
    }
    .al_body_template_one .menu-navigation.al .container.d-sm-none.d-block ul.nav-tabs li {
        padding-bottom: 15px !important;
    }
    .al_body_template_one .menu-navigation.al {
        border-radius: 0 !important;
    }
    body.al_body_template_one section.home-slider-wrapper.py-sm-3 {
        padding:0px 0 0 !important;
    }
    .al_body_template_one .al_custom_brand a.brand-box.d-block.black-box {
        height: 100% !important;
        padding: 0;
    }
    .al_count_tabs.my-1 ::-webkit-scrollbar {
        width: 5px !important;
    }
    .al_body_template_one .al_custom_brand .brand-ing {
        height: 100px;
        width: 100px;
    }
    .radius-bar {
        width: 100%;
        position: fixed;
        z-index: 11111;
        bottom: 74px;
        left: 0;
        right: 0;
        margin: auto;
        display: none;
        border-radius: 0 !important;
    }
    .pixelstrap a .sub-arrow {
        display: none;
    }
    .nav-tabs .nav-link {
        font-weight: 500;
        padding: 5px 10px;
        font-size: 14px;
    }
    .top-header .mobile-menu.main-menu .header-dropdown li.al_iconsMb ul.onhover-show-div {
        position: absolute;
        right: auto;
        display: none;
    }
    .top-header .mobile-menu.main-menu .header-dropdown li.al_iconsMb ul.onhover-show-div.open {
        right: auto;
        bottom: 80px;
        box-shadow: 0 0 5px rgb(0 0 0 / 30%);
        border-radius: 6px;
        padding-bottom: 10px;
    }
    .top-header .mobile-menu.main-menu .header-dropdown li.al_iconsMb ul.onhover-show-div li a {
        color: #777;
        padding: 0px 10px !important;
    }
    .top-header .mobile-menu.main-menu .header-dropdown li.al_iconsMb ul.onhover-show-div li {
        display: block;
        padding: 10px 0 0;
        line-height: 1;
    }
    .payment-card-bottom.text-center.d-flex {
        margin-bottom: 20px;
    }
    article#content-wrap {
        padding-bottom: 0 !important;
    }
    ul.social-links.d-flex {
        margin-bottom: 10px;
    }
    .show-div.setting li {
        display: block;
    }
    li.onhover-div.al_mobile-search div#search-overlay {
        display: none !important;
    }
    section.home-slider-wrapper.py-sm-3 {
        padding: 24px 0 !important;
    }
    .navbar-brand {
        padding: 0;
        height: auto !important
    }
    .top-header.site-topbar.al_template_one {
        height: auto;
        background-color: transparent
    }
    .mobile-menu.main-menu {
        bottom: 0;
        padding: 10px;
        width: 100%;
        background-color: transparent;
        box-shadow: none
    }
    .top-header .header-dropdown .mobile-account,
    .top-header .header-dropdown .mobile-wishlist {
        bottom: 10px;
        top: auto
    }
    .site-topbar .map-icon .yl-text {
        display: none
    }
    .map-icon.mr-1 svg path {
        fill: var(--theme-deafult)
    }
    .site-topbar .location-bar h2 {
        color: #777;
        width: calc(100% - 25%);
        float: left;
        padding-right: 5px
    }
    .location-bar .map-icon svg {
        width: 10px !important;
    }
    .site-topbar .location-bar h2 span {
        width: 100%;
        overflow: hidden;
        float: left;
        text-overflow: ellipsis
    }
    .menu-slider .slick-next {
        right: -23px
    }
    body.dark .navigation-tab .nav-link.active {
        background: transparent !important;
    }
    .navigation-tab {
        background: transparent !important;
        border: none !important;
        border-radius: 0px !important;
    }
    .al_count_tabs ul li {
        border-radius: 0px !important;
        margin: 0;
    }
    .al_count_tabs .navigation-tab-item .nav-link.active {
        border: 0;
        position: relative;
        border-radius: 0px !important;
        padding-left: 0px;
    }
    .al_count_tabs .navigation-tab-item .nav-link.active:before {
        content: '';
        position: absolute;
        background: var(--theme-deafult);
        width: 34px;
        height: 2px;
        bottom: 0px;
        left: 0px;
    }
    .menu-navigation.al {
        border-top: 0px solid #ddd !important;
        border-radius: 10px;
        margin-left: 12px;
        padding-top: 3px;
        display: block;
    }
    .al_count_tabs.my-1 {
        border-radius: 0px;
    }
    body .menu-navigation.al .navigation-tab-item .nav-link {
        padding-left: 0px;
        padding-right: 15px;
        padding-top: 10px;
    }
    body.dark .menu-navigation.al .navigation-tab-item .nav-link {
        color: #fff !important;
    }
    body .menu-navigation.al .navigation-tab-item .nav-link.active {
        color: var(--theme-deafult);
    }

    .ser_img{
        margin: 0 15px;
    }
    .product_tag_filter {
        width: 100%;
        margin-left: 6px;
    }
    #side_menu_toggle {
        left: auto;
        right: 10px;
    }
    /* body.al_body_template_one section.home-slider-wrapper.py-sm-3 {
        padding: 0 !important;
    } */
    /* body.al_body_template_one .main-menu.al_template_one_menu {
        display: none;
    } */
    body.al_body_template_one #content-wrap .site-header .navbar-brand {
        text-align: left;
    }
    /* body.al_body_template_one .al_offset-top-home {
        margin-top: 140.625px !important;
    } */
    body.al_body_template_one section.suppliers-section {
        margin-top: 20px !important;
    }

    i.fa.fa-user {
        font-size: 10px !important;
    }

    .al_body_template_one .site-topbar .location-bar h2:after {
        font-size: 20px;
    }

    .al_body_template_one .site-topbar .location-bar h2:after {
        font-size: 20px;
    }
}

@media (max-width:576px) {
    #content-wrap .site-header .navbar-brand img {
        height: 40px!important;
    }
    .location-bar{
        justify-content: flex-end!important;
    }
    .al_template_one .homepage-address {
        width: 170px;
    }
}   

@media (max-width:440px) {
    html .al_body_template_one .site-topbar .location-bar h2:after {
        right: 0px!important;
    }
}
@media (max-width:360px) {
    html .al_template_one.site-topbar .location-bar h2 span {
        width: 100%;
    }
    .al_template_one .homepage-address {
        width: 140px;
    }
}
/* topbar css */

ul.header-dropdown.d-none.d-sm-inline {
    padding: 0;
}

ul.header-dropdown.d-none.d-sm-inline li {
    display: inline-block;
}


/* menu css */

.pixelstrap ul {
    padding: 0;
    background: #fff;
    position: absolute;
    width: 16em !important;
    border: none;
    box-shadow: 0 1px 6px 0 #ebebeb;
    border-radius: 0;
    z-index: 9;
    list-style: none;
    margin: 0;
    line-height: normal;
    direction: ltr;
    text-align: left;
    top: auto;
}
.menu-navigation ul.sm.pixelstrap.sm-horizontal li.al_main_category {
    border-bottom: 0  solid transparent;
}   
.menu-navigation ul.sm.pixelstrap.sm-horizontal li.al_main_category:hover{
    border-bottom:2px solid#000;
    padding-bottom: 4px;
}
.pixelstrap ul li{border-bottom: 0px;}
.dark .pixelstrap ul {
    background-color: #242424;
    box-shadow: 0 1px 6px 0 #242424;
}

.dark .pixelstrap ul.al_main_category_list li,
.dark .pixelstrap ul.al_main_category_list li a,
.dark .pixelstrap ul.al_main_category_list li a span.new-tag {
    color: #fff;
}

.pixelstrap ul li.al_main_category {
    display: block;
    margin: 0 20px;
}

.pixelstrap ul li a {
    padding: 10px !important;
    text-align: left;
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    letter-spacing: 0;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    white-space: normal;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
}

.pixelstrap ul li a:hover {
    background-color: #eee;
}

.dark .pixelstrap ul li a:hover {
    background-color: #333;
}

.pixelstrap ul li a:hover span.new-tag {
    color: var(--theme-deafult)
}

.pixelstrap ul li a span.new-tag {
    font-size: 12px;
    font-weight: 400;
}

#main-menu .slick-list {
    overflow: inherit;
}

.al_searchType .form-control {
    background-color: transparent;
}


/*hotfix product page css*/

@media (max-width:767px) {
    body.al_body_template_one .categories_menu {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        width: max-content !important;
    }
    body.al_body_template_one .section-b-space .container .row .col-lg-3 >.dashboard-left {
        position: fixed;
        top: 0;
        z-index:999;
    }
    .account-sidebar a {
        font-size: 12px;
    }
    body.al_body_template_one .main-menu.al_template_one_menu {
        background-color: #f5f5f5;
    }
    .product_tag_filter {
        width: 100%;
        margin-left: 6px;
    }
    #side_menu_toggle {
        left: auto;
        right: 10px;
    }
    /* body.al_body_template_one section.home-slider-wrapper.py-sm-3 {
        padding: 0 !important;
    } */
    /* body.al_body_template_one .main-menu.al_template_one_menu {
        display: none;
    } */
    body.al_body_template_one #content-wrap .site-header .navbar-brand {
        text-align: center;
    }
    /* body.al_body_template_one .al_offset-top-home {
        margin-top: 140.625px !important;
    } */
    body.al_body_template_one section.suppliers-section {
        margin-top: 20px !important;
    }

    i.fa.fa-user {
        font-size: 10px !important;
    }

    .al_body_template_one .site-topbar .location-bar h2:after {
        font-size: 20px;
    }

    .al_body_template_one .site-topbar .location-bar h2:after {
        font-size: 20px;
    }
}

@media (max-width:576px) {
    .al_body_template_one li.add_post a.sell-btn span {
        background-color: transparent!important;
        border: unset!important;
        color: #000!important;
        padding: 0!important;
        margin: 0;
        font-size: 20px!important;
    }
    .al_body_template_one li.add_post a.sell-btn span  i{
        font-size: 20px!important;
    }
    .top-header .mobile-menu.main-menu .header-dropdown  li.add_post {
        width: auto;
    }
    .top-header .mobile-menu.main-menu .header-dropdown li.add_post a i {
        color: #000!important;
        /* -webkit-text-stroke: 2px #0e0c0c; */
        font-size: 22px!important;
        opacity: 0.7;
    }
}


/*header color var css start here---*/
.al_template_one .homepage-address{
    color: var(--theme-deafult) !important;
}

/*header color var css start here---*/
.blur {
    filter: blur(25px);
    animation-name: example;
    /* animation-duration: .5s;
    animation-delay: .5s;*/
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}
  
.no-blur {
    filter: blur(0);
    transition: filter .2s 2s ease-in;
}
  
.hd {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    object-fit: cover;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
  
@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media (max-width: 767px){
    body.al_body_template_one section.cab-banner-area.alTaxiBannerStart {
    padding: 5rem 0 !important;
    }
    body.al_body_template_one #content-wrap .site-header .navbar-brand {
    text-align: center;
    display: block;
    width: 100% !Important;
    }
    body.al_body_template_one .cab-booking-header ul.onhover-show-div {
        bottom: 0px !important;
        right: 0 !important;
        top: 23px !important;
        left: 0;
    }
    .section-b-space .container .row .col-lg-3 >.dashboard-left {
        position: sticky;
        top: 160px;
        max-width: 100%;
        z-index: 1;
        right: -95px;
        top: 35px !important;
    }
    }