
/*============== footer css ===================*/
.footer{background-color: #0C0C0C;background-image: url(../images/footerBg.png);background-repeat: no-repeat;background-position: right top;}
.footerTitle{font-weight: 600;font-size: 24px;color: #fff;}
.footerFsm{font-weight: 600;font-size: 14px;color: #B6B6B6;}
.bottomFooter .footerFsm{font-weight: 400;color: #B6B6B6;}
.socialMediaLinks li{display: inline-block;margin-right: 10px}
.socialMediaLinks li a img{-webkit-transform: scale(.9);transform: scale(.9);-webkit-transform: 0.5s;transform: 0.5s;}
.socialMediaLinks li a:hover img{-webkit-transform: scale(1);transform: scale(1);}
.footer ul li a:hover{color: #84571E;}
.footer ul li{margin-bottom: 10px;}

@media(max-width: 991px){
.alSpaListSlider .slick-list.draggable {padding-left: 0 !important;}
.alLgHeroHeading{font-size: 47px;line-height: 57px;}
.heroArea .alCustomBtn{width: 100%;}
.alBodyText,
.alHeroText{font-family: 'MontserratRegular';}
.alTesimonialsText,
.alLgFontSize{font-size: 30px;line-height: normal;}
.alTesimonialsTitle{font-size: 20px;line-height: normal;}
.alTesimonialsUsername{font-size: 16px;line-height: normal;}
.testimonials .slick-arrow{display: none !important;}
.alSpaMenuCard.active ul li a {font-size: 18px;}
}
@media(max-width: 767px){
.alMobileLocations {
    margin-top: -80px;
}
.oneYearsMembership img{width: 100%}
}
