/* ============ inner page ========================= */
.al_body_template_six.homeHeader .collection-wrapper .container{max-width: 100%;}
.al_body_template_six.homeHeader .container .col-12{padding: 0;}
.al_body_template_six.homeHeader .product-bottom-bar{
max-width: 1400px;
margin: -70px auto 0;
background-color: #fff;
width: 100%;
position: relative;
border-radius: 20px 20px 0 0;
box-shadow: 0 -30px 20px rgb(0 0 0 / 20%);
}
.al_body_template_six.homeHeader .collection-wrapper .position-relative.container{
max-width: 1370px;
margin: 0 auto;
}
.scrollspy-menu li{
width: 100%;
display: block;
line-height: 2;
}
.scrollspy-menu li:hover a,
.scrollspy-menu li.active a{color: var(--theme-deafult);}
.product-banner-img img{width: 100%;object-fit: cover;height: 100%;}
.product-banner-img{
height: 550px;
overflow: hidden;
width: 100%;
}
.alScrollspyProduct .text-right span{
    display: none !important;
}
.alScrollspyProduct select#order_type{
    border: 1px solid #ced4da;
}
.alScrollspyProduct h2.category-head{
    font-size: 18px;
}
.class_img.product_image img{
    width: 100%;
}
.member_no span{
    font-size: 14px;
    line-height: normal;
}
.customizable-text{
    font-size: 10px;
}
.product_variant_quantity_wrapper:hover .add-cart-btn.add_vendor_product{display: block;}
.add-cart-btn.add_vendor_product{
    background-color: #caae73;
    color: #fff;
    font-size: 14px;
    max-width: 70px;
    display: block;
    width: 100px;
    text-align: center;
    border-radius: 40px;
    height: 30px;
    line-height: 30px;
    -webkit-transition: 0.5s;transition: 0.5s;
    display: none;
}
.add-cart-btn.add_vendor_product:hover{
    background-color: var(--top-header-color);
}
.product_variant_quantity_wrapper{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.product_variant_quantity_wrapper:hover .customizable-text{padding-right: 110px;}
.categories-product-list .number{
    border: 0.5px solid var(--theme-deafult);
    border-radius: 8px;
}
.card-box.p-0.cart-main-box{
    background-color: var(--theme-deafult);
    /* box-shadow: 0 0px 10px rgb(0 0 0 / 20%); */
}
.cart-main-box-inside.d-flex.align-items-center{background-color: #f5f5f5;}
.al_body_template_six.homeHeader .shopping-cart .col-12{padding-left: 12px;padding-right: 12px;}
.al_body_template_six.homeHeader .shopping-cart ul li{width: 100%;position: relative;cursor: pointer;-webkit-transition: 0.5s;transition: 0.5s;}
.al_body_template_six.homeHeader .shopping-cart ul li .action-icon{
    position: absolute;
    left: 0;
    top: 0;-webkit-transition: 0.5s;transition: 0.5s;opacity: 0;
}
.al_body_template_six.homeHeader .shopping-cart ul{padding-top: 10px !important;}
.al_body_template_six.homeHeader .shopping-cart ul h6,
.al_body_template_six.homeHeader .shopping-cart ul h5{margin: 0;}
.al_body_template_six.homeHeader .shopping-cart ul li:hover .media-body h6{padding-left: 30px !important;-webkit-transition: 0.5s;transition: 0.5s;}
.al_body_template_six.homeHeader .shopping-cart ul li:hover .action-icon{opacity: 1;}
.al_body_template_six.homeHeader .container .vendor-products-wrapper .col-12{padding: 0 15px;}
.cart-box-outer.al_white_bg_round.product_row{
    background-color: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    padding: 10px !important;
    border-radius: 15px;
    -webkit-transition: 0.5s;transition: 0.5s;
}
.cart-box-outer.al_white_bg_round.product_row:hover{box-shadow: 0 0 5px rgb(0 0 0 / 30%);}
.cart-main-box .cart-sub-total{
    padding: 10px 12px;
    border-top: 1px solid #000;
}
.cart-main-box .checkout-btn{
    padding: 20px;
    background-color: var(--top-header-color);;
    color: #fff;
}
.al_body_template_six .suppliers-img-outer{
    background-color: #f5f5f5;
    position: relative;
    padding-bottom: 56%;height: auto !important;
}
.al_body_template_six .suppliers-img-outer img{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
}
.al_body_template_six .common-product-box,
.al_body_template_six .product-card-box{
    overflow: hidden;
    padding: 0 0 10px 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    border-radius: 15px;
}
.al_body_template_six .common-product-box:hover,
.al_body_template_six .product-card-box:hover{box-shadow: 0 0 5px rgb(0 0 0 / 10%);}
.add-to-fav{display: none;}
.al_body_template_six .product-card-box .rating-number{
    position: absolute;
    right: 10px;
    top: 10px;
}
.al_body_template_six .product-card-box h6{font-size: 16px;}
.al_body_template_six .product-card-box .vendor-cate{color: var(--theme-deafult);border-bottom: none !important;font-size: 12px;}
.al_body_template_six .common-product-box{padding: 0;}
.al_body_template_six .common-product-box a.row.w-100{
    margin: 0;display: flex;
    justify-content: center;
    align-items: center;
}
.al_body_template_six .common-product-box .product-description p{margin-bottom: 0;}
.al_body_template_six .common-product-box .product-description p.pb-1{
    font-size: 12px;
}
/* =================== single product page ============= */
.sold-by img{width: 80px;}