/node_modules
/node_modules
/vendor
/resources/js
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
query.php
ngrok.exe
/storage/framework/laravel-excel/
/storage/framework/sessions/
storage/debugbar/
composer.lock
package-lock.json
/storage
.DS_Store
/public/storage
