/* home page css */

.render_recent_orders label.items_price {
    width: 60px;
}

.product-m.render_recent_orders .slick-list {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

.al_body_template_three .product-card-box.position-relative.al_box_third_template.al .al_clock b {
    color: var(--theme-deafult);
    font-size: 14px;
}

.al_body_template_three .slick-track {
    margin-left: 0 !important;
}

.cab-banner-area .card-box h2 {
    font-size: 24px;
    letter-spacing: 0px;
}

.price_box_bottom li {
    margin: 0;
    color: #6c757d
}

.dark .price_box_bottom li {
    color: #fff
}

article#page-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}

.al_body_template_three {
    background-color: #fff
}

.al_body_template_three #myCarousel {
    border-radius: 40px;
    overflow: hidden
}

.al_desktop_banner {
    display: block;
    min-height: fit-content;
    max-height: 300px
}

.home-slider-wrapper .banner-img-outer img {
    max-height: 300px;
    object-fit: cover;
    max-width: inherit;
    border-radius: 50px
}

.home-slider-wrapper .carousel-inner {
    border-radius: 50px;
}

.home-slider-wrapper .carousel-item {
    border-radius: 50px;
}

.home-slider-wrapper .carousel-item.active {
    border-radius: 50px;
}

article#page-container section .vendors section {
    padding: 20px 0 !important;
    margin-bottom: 0 !important;
}

.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-slider {
    overflow: inherit
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.al_body_template_three .suppliers-box .suppliers-img-outer img {
    object-fit: cover;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.al_body_template_three .suppliers-box .suppliers-img-outer {
    border-radius: 50%;
    text-align: center;
    border: none;
    background-color: #fff;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}

.al_body_template_three .al_custom_brand {
    text-align: center
}

.al_custom_brand .slick-slide {
    margin: 0 20px;
}

.al_body_template_three .al_custom_brand .barnd-img-outer {
    position: relative;
    padding-bottom: 100%;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 30%) 0 3px 12px;
}

.al_body_template_three .al_custom_brand .barnd-img-outer img {
    object-fit: contain;
    padding: 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.product-m .slick-next:before,
.product-m .slick-prev:before {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: #fff;
    display: inline-block;
    line-height: 30px;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    color: #000 !important;
    font-size: 20px;
}

.slick-slider .slick-prev {
    left: 1px;
    z-index: 9;
}

.slick-slider .slick-next {
    right: 11px;
}

.al_body_template_three .al_custom_brand .brand-box h6 {
    font-size: 18px;
    color: #000
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0
}

.al_box_third_template {
    padding: 12px;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid transparent
}

.al_body_template_three .img-outer-box.position-relative {
    border-radius: 12px;
    padding-bottom: 100%;
    overflow: hidden;
}

.al_body_template_three .img-outer-box.position-relative img {
    width: 100%;
    left: 0;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
    opacity: 1
}

.slick-next,
.slick-prev {
    z-index: 9;
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: 0
}

.slick-next:before,
.slick-prev:before {
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.al_body_template_three .product-card-box h6.ellips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
}

.dark.al_body_template_three .product-card-box h6.ellips {
    color: #fff;
}

.al_body_template_three span.rating-number {
    top: 12px;
    position: absolute;
    right: 12px;
    height: 22px;
    width: 42px;
    background-color: #409a40;
    line-height: 22px;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    padding-right: 10px;
    font-size: 12px;
}

.al_body_template_three .product-description_list p span {
    font-weight: 100;
    font-size: 14px;
    color: var(--theme-deafult);
}

.al_clock b {
    font-size: 18px;
}

.al_body_template_three .product-description h6.card_title {
    color: #000;
    margin-top: 10px;
    margin-bottom: 3px !important;
    font-size: 14px
}

.al_body_template_three .product-description {
    text-align: left;
}

.al_body_template_three .product-description_list p {
    font-size: 16px;
    margin-bottom: 3px;
    color: #777;
    line-height: 22px
}

.al_box_third_template:hover {
    border-color: #e8e8e8;
    box-shadow: rgb(28 28 28 / 12%) 0 .4rem 1.8rem;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #e8e8e8
}

.render_trending_vendors .slick-slide>div,
.suppliers-slider-vendors .slick-slide>div {
    margin: 0 12px
}

.al_body_template_three .product-m.recent-orders .slick-slide>div {
    padding: 20px 0 0 0;
    margin: 0 0 0 20px
}

.order_detail {
    position: relative;
    margin-bottom: 10px !important
}

.order_detail:before {
    content: "";
    border-left: 1px solid var(--theme-deafult);
    background-color: var(--theme-deafult);
    position: absolute;
    height: calc(100% - 30px);
    left: -1px;
    top: 15px
}

.progress-order {
    width: calc(100% + 48px);
    margin: -24px 0 20px;
    background: #00000012;
    color: var(--theme-deafult);
    position: relative;
    left: -24px;
    font-weight: 600;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 0
}

.pulse {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--theme-deafult);
    cursor: pointer;
    box-shadow: 0, 0, 0 rgb(67 190 225 / 50%);
    position: absolute;
    left: -4px;
    top: 6px;
    -webkit-animation: pulse-animation 2s infinite;
    -moz-animation: pulse-animation 2s infinite;
    animation: pulse-animation 2s infinite
}

.tip_label {
    display: inline-block;
    background: #fff;
    border: 1px solid var(--theme-deafult);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 1rem;
    text-align: center;
    position: relative
}

.tip_radio {
    display: none
}

.tip_radio:not(:disabled)~label {
    cursor: pointer
}

.radio input:checked~.checkround:after {
    display: block
}

.radio .checkround:after {
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--theme-deafult)
}

.checkround:after {
    content: "";
    position: absolute;
    display: none
}

@-webkit-keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, .2)
    }

    100% {
        box-shadow: 0 0 0 20px transparent
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, .2)
    }

    100% {
        box-shadow: 0 0 0 20px transparent
    }
}

.status_box {
    list-style: none
}

.dark .status_box li img {
    opacity: 1;
}

.status_box li img {
    opacity: .5
}

.status_box li {
    margin: 0 0 10px
}

.status_box label {
    background: rgba(247, 184, 75, .25);
    color: #f7b84b;
    border-radius: 50px;
    padding: 2px 10px;
    font-size: 12px;
    overflow: hidden;
    vertical-align: middle
}

.product_list li {
    position: relative;
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 0 0 30px 0
}

.product_list li img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50px
}

.item_no {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -1px;
    top: -7px;
    right: -6px;
    background: var(--theme-deafult);
    text-align: center;
    border-radius: 50px;
    color: #fff
}

.items_price {
    font-weight: 700;
    font-size: 12px;
    color: var(--theme-deafult);
    margin: 0
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.al_custom_head .onhover-dropdown span:before,
.al_custom_head.top-header .header-dropdown li,
.al_custom_head.top-header .header-dropdown li a {
    color: #777 !important;
    font-size: 14px !important;
}

.al_body_template_three .onhover-dropdown:before {
    right: 0;
}

.al_new_ipad_view i.fa.fa-shopping-cart.mr-1 {
    font-size: 20px;
    margin-top: 7px;
    color: #777;
}

.fa-filter:before {
    content: "\f0b0";
    font-family: 'FontAwesome';
    color: #fff;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--theme-deafult)
}


/* dark mode */

.dark .dark-light {
    background-color: #fff
}

body.dark {
    background-color: #2b2b2b;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: #cfd4da
}

body.dark .al_body_template_three,
body.dark .top-header.site-topbar.al_custom_head,
body.dark article#page-container .site-header {
    background-color: #2b2b2b
}

body.dark .al_body_template_three .al_custom_brand .brand-box h6,
body.dark .al_body_template_three .product-description h6.card_title,
body.dark .h1,
body.dark .h2,
body.dark .h3,
body.dark .h4,
body.dark .h5,
body.dark .h6,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
    color: #fff
}

body.dark .al_box_third_template:hover,
body.dark .al_footer_template_three {
    background-color: #0b0b0b;
    border-color: #000
}

body.dark.al_body_template_three .al_custom_brand .brand-box h6,
body.dark.al_body_template_three .product-description h6.card_title {
    color: #fff
}


/* shimmer_effect start */

.shimmer_effect .grid-row .card_image {
    border-radius: 12px;
    height: 200px !important
}

.shimmer_effect .menu-slider span .loading {
    width: calc(100% - 20px);
    height: 10px;
    display: block;
    margin: auto
}

.shimmer_effect {
    overflow: hidden
}

.grid-row.grid-4-4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px
}

.shimmer_effect .card_image {
    width: 100%;
    height: 100%
}

.shimmer_effect .card_image.loading {
    width: 100%;
    height: 100px;
    margin-bottom: 10px
}

.shimmer_effect .card_title.loading {
    width: 50%;
    height: 10px;
    margin: 10px 0;
    border-radius: 3px;
    position: relative
}

.shimmer_effect .card_content.loading {
    width: 80%;
    height: 10px;
    margin: 10px 0;
    border-radius: 3px;
    position: relative
}

.shimmer_effect .card_description {
    padding: 8px;
    font-size: 16px
}

.shimmer_effect .card_description.loading {
    height: 2rem;
    margin: 10px 0;
    border-radius: 3px
}

.shimmer_effect .loading {
    position: relative;
    background: #ccc;
    overflow: hidden
}

.shimmer_effect .loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100px);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
    animation: loading .8s infinite
}

.shimmer_effect h2.h2-heading {
    width: 260px;
    height: 20px
}

.shimmer_effect .card_icon {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

.shimmer_effect .card_price {
    width: 50px;
    height: 20px
}

.shimmer_effect .card_line {
    height: 1px;
    width: 100%;
    margin: 10px 0
}

.cardbanner {
    height: 300px;
    border-radius: 50px;
}


/* section.section-b-space_.p-0.ratio_asos{position: absolute;z-index: 1;width: 100%;} */

.container.mb-md-5.shimmer_effect {
    margin-top: 58px;
}

.container.mb-md-5.shimmer_effect .col-12.cards {
    margin-bottom: 20px;
}

.card_icon.loading {
    display: none;
}

.shimmer_effect .card_price {
    width: 80px;
}

section.section-b-space_.p-0.ratio_asos.banner_shimmer {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    background-color: #fff;
}

.dark section.section-b-space_.p-0.ratio_asos.banner_shimmer {
    background-color: #232323;
}


/* #our_vendor_main_div .vendors section.render_full_recent_orders{min-height: 315px;}
#our_vendor_main_div .vendors section.suppliers-section,
#our_vendor_main_div .vendors section.popular-brands{min-height: 320px;}
#our_vendor_main_div .vendors section{min-height: 490px;} */

footer#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@keyframes loading {
    100% {
        transform: translateX(100%)
    }
}


/* pick and drop css start */

.al_body_template_three .cab-banner-area .cab-footer .btn {
    height: auto;
    line-height: normal;
    border-radius: 12px;
    background-color: var(--theme-deafult);
    color: #fff;
}

.al_body_template_three .cab-banner-area .cab-input input.form-control {
    border-radius: 12px !important;
}

.product-card-box.position-relative.al_box_third_template.al {
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* shimmer_effect end */

@media(max-width: 1400px) {
    section#our_vendor_main_div .vendors {
        padding: 0 20px;
    }
}

article#page-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden
}

article#page-container section .vendors section {
    padding: 18px 0px !important;
    margin-bottom: 0 !important
}

.al_box_third_template:hover {
    border-color: #e8e8e8 !important;
    box-shadow: rgb(28 28 28 / 3%) 0 .4rem 0.8rem !important;
    background-color: #fff !important;
    box-sizing: border-box !important;
    border: 1px solid #e8e8e8 !important
}


/* mobile or desktop banner css start */

.al_desktop_banner {
    display: block;
    margin-bottom: 20px;
}

.al_mobile_banner {
    display: none;
}


/* mobile or desktop banner css end */

.dark.al_body_template_three .sm-horizontal {
    background-color: #232323;
}

.dark .product-m .slick-next:before,
.dark .product-m .slick-prev:before {
    background-color: #000;
    color: #fff !important;
}

.slick-next:before,
.slick-prev:before {
    font-family: 'FontAwesome';
    color: #000 !important;
    opacity: 1;
}

/* car bar css start */

.p-64 {
    padding: 64px !important;
    margin-bottom: 30px;
}

.cab-banner-area .card-box {
    padding: 48px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .5)
}

.cab-input {
    margin: 31px 0 13px;
    position: relative
}

.cab-footer {
    margin: 19px 0 0
}

.dark .input-line {
    background-color: #f5f5f5;
}

.dark .input-line:after,
.dark .input-line:before {
    border-color: #f5f5f5;
}

.input-line {
    width: 1px;
    height: 46px;
    background: #000;
    position: absolute;
    top: 33px;
    left: 22px
}

.cab-footer .btn.btn-solid:last-child {
    margin-right: 0
}

.input-line:before {
    content: "";
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -3px
}

.input-line:after {
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    content: "";
    position: absolute;
    bottom: -10px;
    left: -3px
}

.dark .cab-input input.form-control {
    background-color: #232323;
}

.cab-input input.form-control {
    background-color: #f6f6f6;
    padding: 11px 30px 11px 40px;
    height: auto;
    min-height: 52px;
    border: 0;
    border-radius: 0 !important;
    font-size: 16px
}


/* car bar css end */

@media (max-width:576px) {
    .menu-navigation {
        overflow: visible;
    }

    .age-restriction {
        padding-right: 0px !important;
    }

    .pixelstrap li:hover ul {
        display: block;
        position: absolute;
        left: auto;
        top: auto;
        z-index: 11111;
    }

    .pixelstrap li:hover ul li a span {
        font-size: 12px !important;
    }

    .al_body_template_three .tip_radio_controls {
        text-align: left;
    }

    .menu-navigation.alThreeMenu .menu-slider button.slick-prev.slick-arrow {
        position: absolute;
        left: -14px;
        height: 100%;
        background-color: #cccccc4f;
        padding: 0px 2px;
    }

    .menu-navigation.alThreeMenu .menu-slider button.slick-next.slick-arrow {
        position: absolute;
        right: -14px;
        height: 100%;
        background-color: #cccccc4f;
        padding: 0px 2px;
    }
}

body.dark.al_body_template_three .al_box_third_template {
    background: #222 !important;
}

body.al_body_template_three .al_box_third_template {
    border-color: #e8e8e8 !important;
    box-shadow: rgb(28 28 28 / 3%) 0 .4rem 0.8rem !important;
    background-color: #fff;
    box-sizing: border-box !important;
    border: 1px solid #e8e8e8 !important;
}

@media (max-width:991px) {
    body.al_body_template_three.p2p-module .cab-banner-area .card-box {
        padding: 12px;
    }

    .al_body_template_three #myCarousel {
        height: 160px;
    }

    /* .al_body_template_three .home-slider-wrapper .banner-img-outer img {
        height: 160px;
        min-height: 160px;
    } */
}

@media (max-width:767px) {
    .al_body_template_three .vendors .slick-slide {
        padding: 0;
        margin: 10px;
    }

    /* .al_body_template_three .al_mobile_banner {
        height: 200px !important;
    } */
    .al_count_tabs_new_design.al_tab_mobile.position-fixed.d-block.d-sm-none {
        display: none !important;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 10px;
        height: 10px;
    }

    .al_body_template_three .cab-banner-area .cab-footer .btn {
        font-size: 12px !important;
    }

    .al_body_template_three .cab-footer button {
        width: auto !important;
    }

}

.al_body_template_three .al_custom_brand .barnd-img-outer img {
    object-fit: cover;
    padding: 0px;
}

.al_body_template_three #myCarousel {
    padding-top: 40px !important;
}

/* .al_body_template_three .al_offset-top-home {
        margin-top: 158.75px !important;
    } */
.al_body_template_three section.home-slider-wrapper {
    padding: 0 !important;
}

.al_body_template_three article#page-container section .vendors section.bed-bath {
    padding: 40px 0 !important;
}