
.alProductViewPriceMin {display: block;font-size: 14px;color: #777;border-top: 1px solid #777;font-weight: 100;}
span.duration {
    display: flex;
    vertical-align: middle;
    align-items: center;
}
span.duration p.total_price {
    margin: 0;
    padding-left: 7px;
    font-weight: 600;
    color: #000;
}

/* ============= inner page home services page ============= */
.booking-time .radios {
    width: 95%;
}
.radio-btns input[type="checkbox"] {
    z-index: -1;
    position: absolute;
    display: none;
}
.radio-btns.long-radio input[type="checkbox"]+label .customCheckbox {
    width: auto;
    border-radius: 50px;
    height: auto;
    line-height: normal;
    padding: 10px 14px;
}
.radio-btns input[type="checkbox"]:checked+label .customCheckbox {
    background-color: var(--theme-deafult);
    color: #fff;
}
.radio-btns input[type="checkbox"]+label .customCheckbox {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 49px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    z-index: 1;
    color: #1f2431;
    background: #f3f3f3;
    overflow: hidden;
    transition: all .5s;
    cursor: pointer;
}
#main-nav {
    position: relative;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    top: 24px;
    padding: 15px 20px;
    margin-left: 0;
    margin-bottom: 30px;
    overflow: auto;background-color: #fff;
}
.class_img img {
    width: 100%;
    border-radius: 10px;
}
ul#main-nav-list {
    display: flex;
    align-items: center;
    overflow: auto;
    width: max-content;
}
#main-nav li {
    margin-right: 10px;
}
#main-nav a {
    padding: 0 11px;
    display: block;
    color: #777;
    text-decoration: none;
    min-width: 2.5rem;
    line-height: 38px;
    border-radius: 1.25rem;
    background-color: transparent;
    border: 1px solid var(--theme-deafult);
    font-size: 16px;
    font-weight: 700;
}
#main-wrapper {
    width: 100%;
    margin: 0 auto;
}
/* ============= inner page home services page ============= */
#addressInput .input-group-append button.btn {
padding: 8px 14px;
color: #fff;
}
#addressInput .input-group-append {
position: absolute;
bottom: 0;
right: 0;
}
#destination_location_add_temp,.address-input-group{position:relative}
.address-input-group .pac-container{top:35px!important;left:0!important}
#destination_location_add_temp .pac-container{top:75px!important;left:15px!important}img.al_img_opacity{opacity:.4}
#edit-address .address-input-group .pac-container{top:75px!important;left:0!important}
.address-input-group{position:relative}.address-input-group .pac-container{top:35px!important;left:0!important}.h2-heading{text-transform:capitalize}.radio{display:block;position:relative;padding-left:30px;cursor:pointer;font-size:20px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#000;font-size:16px;font-weight:300;letter-spacing:0;line-height:24px}.radio input[type=radio]{position:absolute;opacity:0}
.checkround{position:absolute;top:4px;left:0;height:20px;width:20px;background-color:#fff;border-radius:50%;border:1px solid #979797}
.radio span.checkround:after{left:0;right:0;margin:auto;top:0;bottom:0;width:14px;height:14px;border-radius:50%;background:var(--theme-deafult);position: absolute;content: "";opacity: 0;}
.radio input:checked ~ .checkround:after{display:block;opacity: 1;}#wallet_topup_form button.btn.btn-solid.mb-2.custom_amount{padding:5px 10px;font-size:16px;font-weight:100;border-radius:5px}
.file .update_pic{height:80px;width:80px;background:url(../images/user_pic.jpg) no-repeat center;border-radius:50%;background-size:cover;overflow:hidden;display:block}
.file .update_pic img{height:100%}.file>label{cursor:pointer;outline:0;margin-bottom:0;width:80px;display:inline-block;position:relative}label{font-weight:400;display:block}.name_location{margin-bottom:20px;margin-top:10px;box-shadow:0 4px 25px 0 rgb(138 129 124 / 3%);padding:10px 16px 15px}.dashboard-right .card-box{box-shadow:0 .75rem 6rem rgb(56 65 74 / 7%);border-radius:16px}#editProfileBox label{display:block}.iti.iti--allow-dropdown.iti--separate-dial-code{width:100%}span.file-icon::before{content:"\f1c5";font-size:20px}
.number .counter-container{border:1px solid var(--theme-deafult);border-radius:4px;width:fit-content}.minus,.plus{display:inline-block;height:30px;text-align:center;line-height:30px!important;padding:0 8px;cursor:pointer;color:var(--theme-deafult)}.categories-product-list .number{border:.5px solid #ed5a6b;border-radius:8px}
.number input{background-color: transparent; height:30px;min-width:30px;max-width:60px;width:100%;display:inline-block;text-align:center;border:0;border-left:1px solid var(--theme-deafult);border-right:1px solid var(--theme-deafult)}.tip_radio:not(:disabled)~label{cursor:pointer}.tip_label{display:inline-block;background:#fff;border:1px solid var(--theme-deafult);border-radius:5px;padding:5px 10px;margin-bottom:1rem;text-align:center;position:relative}input[type=checkbox],input[type=radio]{cursor:pointer!important}.tip_radio{display:none}.tip_radio:checked+.tip_label{background:var(--theme-deafult);box-shadow:0 0 5px var(--theme-deafult)}.tip_radio:checked+.tip_label h5,.tip_radio:checked+.tip_label p{color:#fff}.collection-filter .theme-card .offer-slider img{padding:0;height:auto}.order-address .outer-box.border-dashed{border-style:dashed;border-width:2px;height:100%}.outer-box{border:1px solid #ddd;border-radius:4px;flex-direction:column;padding:15px;background-color:#fff;box-shadow:0 4px 25px 0 rgb(138 129 124 / 3%)}.outer-box .fa-plus-circle.d-block{font-size:26px;color:var(--theme-deafult)}.outer-box h6 i{color:var(--theme-deafult);font-size:20px}.dashboard-right p{color:#5f5f5f;line-height:20px}a.btn.btn-solid.add_edit_address_btn{margin:0 10px}
body.al_body_template_three .btn-solid{padding:5px 10px!important;font-size:10px!important;letter-spacing:2px;font-weight:500;text-shadow:none;border-radius:4px;border-width:1px}

#wallet_topup_form button.btn.btn-solid.mb-2.custom_amount{padding:5px 10px;font-size:16px;font-weight:100;border-radius:5px}
.file .update_pic{height:80px;width:80px;background:url(../images/user_pic.jpg) no-repeat center;border-radius:50%;background-size:cover;overflow:hidden;display:block}.file .update_pic img{height:100%}.file>label{cursor:pointer;outline:0;margin-bottom:0;width:80px;display:inline-block;position:relative}label{font-weight:400;display:block}.name_location{margin-bottom:20px;margin-top:10px;box-shadow:0 4px 25px 0 rgb(138 129 124 / 3%);padding:10px 16px 15px}.dashboard-right .card-box{box-shadow:0 .75rem 6rem rgb(56 65 74 / 7%);border-radius:16px}#editProfileBox label{display:block}.iti.iti--allow-dropdown.iti--separate-dial-code{width:100%}span.file-icon::before{content:"\f1c5";font-size:20px}.number .counter-container{border:1px solid var(--theme-deafult);border-radius:4px;width:fit-content}.minus,.plus{display:inline-block;height:30px;text-align:center;line-height:30px!important;padding:0 8px;cursor:pointer;color:var(--theme-deafult)}.categories-product-list .number{border:.5px solid #ed5a6b;border-radius:8px}.number input{height:30px;min-width:30px;max-width:60px;width:100%;display:inline-block;text-align:center;border:0;border-left:1px solid var(--theme-deafult);border-right:1px solid var(--theme-deafult)}.tip_radio:not(:disabled)~label{cursor:pointer}.tip_label{display:inline-block;background:#fff;border:1px solid var(--theme-deafult);border-radius:5px;padding:5px 10px;margin-bottom:1rem;text-align:center;position:relative}input[type=checkbox],input[type=radio]{cursor:pointer!important}.tip_radio{display:none}.tip_radio:checked+.tip_label{background:var(--theme-deafult);box-shadow:0 0 5px var(--theme-deafult)}.tip_radio:checked+.tip_label h5,.tip_radio:checked+.tip_label p{color:#fff}.collection-filter .theme-card .offer-slider img{padding:0;height:auto}.order-address .outer-box.border-dashed{border-style:dashed;border-width:2px;height:100%}.outer-box{border:1px solid #ddd;border-radius:4px;flex-direction:column;padding:15px;background-color:#fff;box-shadow:0 4px 25px 0 rgb(138 129 124 / 3%)}.outer-box .fa-plus-circle.d-block{font-size:26px;color:var(--theme-deafult)}.outer-box h6 i{color:var(--theme-deafult);font-size:20px}.dashboard-right p{color:#5f5f5f;line-height:20px}a.btn.btn-solid.add_edit_address_btn{margin:0 10px}

/* Cab booking Page Css */
.cab-banner-area{background:url(https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1903,h_644/v1613521692/assets/d9/ce6c00-32b0-4b93-9f0d-6f927d93da08/original/Rider_Home_bg_desktop2x.png) no-repeat center center;background-size:cover;margin:30px 0}.p-64{padding:64px!important}.cab-banner-area .card-box{padding:48px;border-radius:0}.cab-banner-area h1{font-size:52px;text-transform:initial!important;font-weight:600;margin:0;line-height:64px}.cab-input{margin:31px 0 13px;position:relative}.cab-input input.form-control{background-color:#f6f6f6;padding:11px 30px 11px 40px;height:auto;min-height:52px;border:0;border-radius:0!important;font-size:16px}.cab-input .form-control::-webkit-input-placeholder{color:rgb(0,0,0 / .9)}.cab-input .form-control::-ms-input-placeholder{color:rgb(0,0,0 / .9)}.cab-input .form-control::placeholder{color:rgb(0,0,0 / .9)}.input-line{width:1px;height:46px;background:#000;position:absolute;top:33px;left:22px}.input-line:after{width:7px;height:7px;border:1px solid #000;content:"";position:absolute;bottom:-10px;left:-3px}.input-line:before{content:"";width:7px;height:7px;border:1px solid #000;border-radius:50%;position:absolute;top:-10px;left:-3px}.location-btn{position:absolute;right:15px;top:50%;transform:translateY(-50%)}.cab-footer{margin:19px 0 0}.btn.btn-solid.new-btn{min-height:48px;line-height:48px;border-radius:0;padding:0 17px;margin-top:12px}.cab-footer .btn.btn-solid:last-child{margin-right:0}
section.royo-business{background-repeat:no-repeat;background-position:center;background-size:cover}.title-36{font-size:36px;line-height:44px;font-weight:500}
section.royo-business .title-36{margin-bottom:24px}.description-text{margin-bottom:20px}.royo-business .btn.btn-solid.new-btn{min-width:112px}.title-52{font-size:52px;line-height:64px;margin:0}.royo-rental .title-52{margin-bottom:32px}.learn-more{border-bottom:1px solid #ddd;padding-bottom:8px}.safety-img{margin-bottom:20px}.safety-content h3{font-size:18px;line-height:24px;margin-bottom:12px;color:#000}.safety-text{margin:0 0 20px}.safety-text p:last-child{margin:0}.safety-links a{line-height:32px;position:relative;border-bottom:1px solid #cbcbcb;padding:0 0 5px;margin-right:24px}.safety-links a:last-child{margin-right:0}.bottom-line{position:relative;border-bottom:1px solid #cbcbcb;padding:0 0 5px}.bottom-line:after{content:"";width:0;height:1px;display:block;position:absolute;left:0;background:#838383;bottom:-1px;transition:all .5s;z-index:1}.bottom-line:hover:after{width:100%}.vendor-signup .file>label{height:216px}.progress-order{width:calc(100% + 48px);margin:-24px 0 20px;background:#00000012;color:var(--theme-deafult);position:relative;left:-24px;font-weight:600;font-size:16px;border-top-left-radius:.25rem;border-top-right-radius:.25rem;padding:5px 0}.product-timing small{font-size:13px;color:#000;margin:0 0 3px}.product-timing small:last-child{margin:0}.product-timing small:first-child::before{content:none}.product-timing small i{color:#000;margin:0 2px 0 0}.product-box a{display:block}.product-box a img{width:100%}.vendor_products_tr h4{font-size:12px}.number+.btn.btn-solid.prescription_btn.mt-2{font-size:12px}.list-view .suppliers-box{display:flex!important;align-items:center}
.return-wrapper{width:100%;margin-left:auto}.footer-return-box{text-align:left;padding-left:50px;position:relative}.return-icon{position:absolute;left:0;top:50%;transform:translateY(-50%)}.return-text h4{font-weight:600;font-size:16px;line-height:16px}.return-text p{line-height:normal;font-size:14px;color:#777}body .footer-theme .sub-title h4{color:#000;font-size:18px;font-weight:600;line-height:26px;margin-bottom:15px}.theme-card h5{padding-bottom:18px}.breadcrumb-section .breadcrumb{justify-content:flex-start}.breadcrumb-section.bg-transparent{padding-bottom:0}.collection-filter .img-outer-box img{border:0}.offer-slider .img-outer-box+.media-body{width:calc(100% - 100px)}.list-view .supplier-rating{padding-left:20px;width:calc(100% - 100px)}.section-b-space+section,.section-b-space+.container{margin-top:40px}
/* Jet Taxi Home Page Css */
.jet-taxi-banner{background:linear-gradient(180deg,#f8f2ff,#fff 99.91%);padding:63px 0 36px}.jet-banner-right{height:430px;margin:auto;width:auto}.jet-banner-right img{height:100%}.jet-taxi-banner h1{color:#000;font-size:56px;font-weight:600;letter-spacing:0;margin-bottom:21px;line-height:67px}.jet-taxi-banner p{color:#3a3a3a;font-size:24px;letter-spacing:0;line-height:32px;margin-bottom:23px}.work-box{border:1px solid rgba(151,151,151,0.22);border-radius:4px;background-color:#fdfbff;box-shadow:0 15px 25px 0 rgba(70,44,103,0.07);padding:40px 28px;height:100%}.work-box h3{color:#000;font-size:24px;font-weight:600;letter-spacing:0;margin:32px 0 12px;line-height:29px}.work-box p{color:#3a3a3a;font-size:18px;letter-spacing:0;line-height:22px;text-align:center}.app-content{width:270px;max-width:100%}.app-content .number{height:56px;line-height:56px;width:56px;border-radius:3.2px;background-color:rgba(207,172,255,0.29);color:#7c1eff;font-size:25.6px;font-weight:600;letter-spacing:0;text-align:center}.app-content h4{color:#000;font-size:20px;font-weight:600;letter-spacing:0;line-height:24px}.app-content p{opacity:.68;color:#000;font-size:16px;letter-spacing:0;line-height:19px}
.divider_line {height: 1.2px;width: 353px;border: 1.2px solid #979797;opacity: .24;background-color: #979797;}
.divider_line span {height: 25.15px;width: 25.15px;line-height: 21.15px;border: 1.2px solid #dfe2e6;box-shadow: 0 0 4px 0 rgb(0, 0, 0 / 5%);font-size: 9.56px;font-weight: bold;border-radius: 50%;text-align: center;display: block;margin: -13px auto;background: #fff;}
ul.social-links.d-flex.align-items-center.mx-auto.mb-4.mt-3 {text-align: center;margin: 0 auto;width: max-content;}
.file.upload-new img,.vendor-signup .file .update_pic img{height:130px;width:auto;object-fit:cover}.file>input[type=file]{display:none}.
.file--upload>label .plus_icon {height: 33px;width: 33px;line-height: 36px;color: #fff;text-align: center;font-family: "Nunito Sans";
font-size: 13px;font-weight: 700;letter-spacing: 0;border-radius: 50%;background-color: var(--theme-deafult);box-shadow: 0 2px 4px 0 rgb(63 159 255 / 40%);
display: block;position: absolute;right: 0;left: 0;margin: auto;bottom: 0;top: 0;}

.breadcrumb-item+.breadcrumb-item::before {
font-family: 'FontAwesome';
content: "\f105";
}
.switch-primary .lable img{height: 16px;width: 16px;}
span.org_price.ml-1.font-14 {
text-decoration: line-through;
color: #ff0000;
}
.pref-timing:empty{display: none;}
.dark .slick-next:before, .dark .slick-prev:before{color: #fff !important;}
.slick-next:before, .slick-prev:before{font-family: 'FontAwesome';color: #000 !important;opacity: 1;}
/* body.login_body footer#footer,
body.register_body footer#footer {position: absolute;}
body.login_body #al_new_design, body.register_body #al_new_design{position: relative !important;} */

.footer-theme .sub-title .footer-contant .payment-card-bottom ul li{padding:0;display:inline-block}
body section.cab-banner-area { margin: 0 !important;}
body .iti--separate-dial-code .iti__selected-flag {
    background-color: #eee;
}
/* vendorStories page css start */
/* #vendorStoriesImg{border-radius: 5px;cursor: pointer;-webkit-transition: 0.3s;transition: 0.3s;}
#vendorStoriesImg:hover{opacity: 0.7;}
.vendor-stories{width:120px;height:120px;overflow:hidden;position:relative;z-index:0;top:-20px}.vendor-stories a{height:100%;width:100%;border:none;position:absolute;top:0;padding:3px}.vendor-stories img.avatar-sm{height:100%;width:100%;border:none}
.circle-wrapper{padding:3px;height:100%;border-color:var(--theme-deafult);border-width:3px;border-style:dashed;border-radius:50%;width:100%;animation:spincircle 10s linear infinite}@keyframes spincircle{100%{-webkit-transform:rotateZ(360deg);transform:rotateZ(360deg)}}
#vendorStories .modal-content{margin: auto;display: block;width: 80%;max-width: 700px;}
#vendorStories  .modal-content,#vendorStories  #caption{-webkit-animation-name: zoom;-webkit-animation-duration: 0.6s;animation-name: zoom;animation-duration: 0.6s;}
@-webkit-keyframes zoom{ from {-webkit-transform:scale(0)} to {-webkit-transform:scale(1)}}
@keyframes zoom{ from {transform:scale(0)} to {transform:scale(1)} }
#vendorStories  .close{position: absolute;top: 15px;right: 35px;color: #f1f1f1;font-size: 40px;font-weight: bold;-webkit-transition: 0.3s;transition: 0.3s;}
#vendorStories  .close:hover, #vendorStories  .close:focus {color: #bbb;text-decoration: none;cursor: pointer;}
@media only screen and (max-width: 700px){ #vendorStories .modal-content{width: 100%;}} */
/* vendorStories page css end */
body section.cab-banner-area {
    margin: 0 !important;
}




/*arbic language css start here---*/
body[dir="rtl"].al_body_template_two .menu-slider .slick-track{display: contents;}
body[dir="rtl"].al_body_template_two .vendors .no-arrow .slick-next{right: -30px;left: auto;}
body[dir="rtl"].al_body_template_two .vendors .no-arrow .slick-prev{left: -30px;right: auto;}
body[dir="rtl"] .icon-nav ul li a i {margin-right: 5px !important;}
body[dir="rtl"] .iti--allow-dropdown .iti__flag-container, body[dir="rtl"] .iti--separate-dial-code .iti__flag-container{
    right: auto !important;
    left: 0 !important;
}
body[dir="rtl"].al_body_template_two .footer-theme .sub-title h4 {
    text-align: right;
}
body[dir="rtl"] .iti--separate-dial-code .iti__selected-dial-code{
    margin-right: 6px;
}
body[dir="rtl"] .offset-xl-2{
    margin-left: 0px !important;
    margin-right:16.6666666667% !important;
}
body[dir="rtl"] .toggle-password {
    text-align: left;
    left: 10px;
}
body[dir="rtl"] .login-with-username div#password-wrapper a{
    left: 40px;
    text-align: left;
    right: auto !important;
}
body[dir="rtl"] .iti__flag-box, .iti__country-name{
    margin-left: 6px;
}
body[dir="rtl"] .product-right.inner_spacing.pl-sm-3.p-0 {
    padding-left: 0px;
    padding-right: 1.5rem!important;
}
/* body[dir="rtl"] .rating-number, body .inner_spacing .rating{
    left:3px;
    right: auto !important;
} */
body[dir="rtl"] #social-links li:first-child{
    margin-right: 0px;
}
body[dir="rtl"] #social-links li:last-child{
    margin-right: 20px;
}
/* body[dir="rtl"] div#exzoom {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: relative;
    z-index: 9999;
} */
body[dir="rtl"] .btn.btn-solid.addWishList.mr-2 {
    margin-right: 0px !important;
}

/*third template arbic language css*/
body[dir="rtl"].al_body_template_three .slick-next{left: auto !important; right:11px !important;}
body[dir="rtl"].al_body_template_three .qty-box .input-group button i{
    transform: rotate(182deg);
}
body[dir="rtl"].al_body_template_three .alSingleProducts .product-right{text-align:right;margin-right: 10px;}
body[dir="rtl"].al_body_template_three .product-description h6{text-align: right;}
body[dir="rtl"] .inner_spacing .rating {right: auto !important;left: 2px;}
body[dir="rtl"] .al .col-lg-5.pl-0 {padding-right: 0px;}



/* vendorStories page css end */


.show-subscription-mdl button.close {
    position: absolute;
    right: 6px;
    top: 10px;
    background: transparent;
    line-height: 0pc;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
}
.show-subscription-mdl .modal-content {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
}
