/*-----------------------p2p module dark theme css -----------------*/
body.dark.al_body_template_one.p2p-module .product-timing ul li small span{
    color: #fff;
}
body.dark.al_body_template_one.p2p-module .timing-box_al li:last-child {
    margin-right: 0;
    color: #fff;
}
body.dark.al_body_template_one.p2p-module .suppliers-box {
    border-bottom: 0!important;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 0 1px rgb(67 41 163 / 8%),0 1px 5px 0 rgb(67 41 163 / 8%);
}
body.dark .inner_spacing{width:100% !important;padding:10px;}
body.dark.al_body_template_one.p2p-module .p2p-sidebar label.control-label{
    color:#fff !important;
}

body.dark.al_body_template_one.p2p-module .custom_filtter ul li span{color: #fff;}
body.dark.al_body_template_one.p2p-module .p2p-sidebar label.control-label{color:#fff;}
body.dark.al_body_template_one.p2p-module .custom_filtter ul li a {
    color: #c1bdbd;
}
body.dark.al_body_template_one.p2p-module .inner_spacing {
    width: 100% !important;
    padding: 10px !important;
}
body.dark.al_body_template_one.p2p-module .col-grid-box.mt-3 .product-image img {
    border-radius: 12px 12px 0 0;
}
body.dark.al_body_template_one.p2p-module .collection-collapse-block-content {
    padding: 0 0;
}
body.dark.al_body_template_one.p2p-module .al_details_vendor, .al_vendor_signup {
    background-color: transparent !important;
    border-radius: 15px;
    width: 100%;
}
body.dark.al_body_template_one.p2p-module section.section-b-space.new-pages .custom-container {
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 21%);
}
body.dark.al_body_template_one.p2p-module section.section-b-space.new-pages .custom-container button#register_btn {
    width: 20%;
    max-width: 20%;
}
body.dark.al_body_template_one.p2p-module section.section-b-space.order-page .nav-tabs .nav-item {
    margin: 0 10px;
}
body.dark.al_body_template_one.p2p-module .vendors .slick-next:before, .vendors .slick-prev:before {
    filter: invert(1);
}
body.dark.al_body_template_one.p2p-module .col-grid-box.mt-3 .product-image img {
    border-radius: 12px 12px 0 0;
    height: 200px !important;
}