/* home page css */
article#page-container{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
.slick-slide{
    float: left;
    height: 100%;
    min-height: 1px;
}
article#content-wrap{
    padding-bottom: 228px;
}
.al_new_wrapper_design{
    background-color: #fff;
}
.al_new_wrapper_design #myCarousel{
    overflow: hidden;
}
.al_desktop_banner{
    display: block;
    height: 400px;
}
.home-slider-wrapper .banner-img-outer img{
    max-height: 400px;
    object-fit: cover;
    max-width: 1600px;
    border-radius: 0;
    height: 100%;
}
article#page-container section .vendors section{
    padding: 50px 0!important;
    margin-bottom: 0!important;
}
.slick-slider{
    overflow: visible;
}
.pixelstrap li:hover a,
.pixelstrap li a{padding: 0;}
.pixelstrap li:hover ul{display: block;}
.al_new_wrapper_design .vendors .slick-slide{
    padding: 30px 0;
}
a.brand-box.black-box h6{
    display: none;
}
.brand-ing{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.brand-ing img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.al_new_wrapper_design .al_custom_brand .brand-box{
    text-align: center;
}
.product-card-box.al_custom_vendors_sec .rating-number,
.product-card-box.al_custom_vendors_sec .supplier-rating{
    display: none;
}
.al_new_wrapper_design .al_custom_brand .brand-box .brand-ing{
    height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 30%) 0 3px 12px;
    margin: 0 auto 20px;
}
.al_new_wrapper_design .al_custom_brand .brand-box .brand-ing img{
    object-fit: cover;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.al_new_wrapper_design .al_custom_brand .brand-box h6{
    font-size: 18px;
    color: #000;
}
.slick-list{
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.al_box_third_template{
    padding: 12px ;
    border-radius: 12px ;
    background-color: transparent ;
    border: 1px solid transparent;
}
.al_new_wrapper_design .common-product-box{
    box-shadow: none;
}
.al_box_four_template{
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.product-description_list .al_product_category {
    color: var(--theme-deafult);
}
.al_new_wrapper_design .img-outer-box.position-relative{
    border-radius: 20px;
    height: 200px;
}
.al_new_wrapper_design .img-outer-box.position-relative img{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
    transform: none;
    opacity: 1;
    will-change: transform,opacity;
    border-radius: inherit;
    filter: unset;
    transition: opacity .25s ease 0s,transform .25s ease 0s;
}
.al_new_wrapper_design .product-m .slick-next, .al_new_wrapper_design .product-m .slick-prev{
    font-size: 0;
    border: 0;
    background-color: transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: -20px;
    right:4%;
}
.al_new_wrapper_design .product-m .slick-prev{
    border-top: 2px solid var(--theme-deafult);
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid var(--theme-deafult);
    right: 5%;
    z-index: 1;
    height: 20px;
    width: 20px;
    padding: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.al_new_wrapper_design .product-m .slick-next{
    border-top: 2px solid transparent;
    border-bottom: 2px solid  var(--theme-deafult);
    border-right: 2px solid  var(--theme-deafult);
    border-left: 2px solid transparent;
    height: 20px;
    width: 20px;
    padding: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.al_new_wrapper_design .product-card-box h6.ellips{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.al_new_wrapper_design .product-description h6.card_title{
    color: #000;
    margin-top: 10px;
    margin-bottom: 3px!important;
    font-size: 16px;
}
/* .al_new_wrapper_design .product-description span.rating-number, .al_new_wrapper_design .suppliers-box span.rating-number{
    top: 12px;
    position: absolute;
    right: 12px;
    height: 30px;
    width: 50px;
    background-color: #409a40;
    line-height: 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    color: #fff;
    text-align: center;
    padding-right: 10px;
    font-size: 14px;
}
.al_new_wrapper_design span.rating-number::after{
    content: "\f005";
    position: absolute;
    font-family: FontAwesome;
    right: 5px;
    font-size: 12px;
} */
.al_new_wrapper_design .product-description{
    text-align: left;
}
.al_new_wrapper_design .product-description_list p{
    font-size: 14px;
    margin-bottom: 3px;
    line-height: 22px;
}
.product-description_list .al_vendorName{
    color: #444;
}
.product-description_list p{
    color: #777;
}
.al_clock b{
    position: absolute;
    right: -16px;
    padding: 6px 40px;
    border-radius: 30px 0 0 30px;
    overflow: hidden;
}
.al_clock b::after {
    position: absolute;
    background-color: var(--theme-deafult);
    height: 100%;
    width: 100%;
    opacity: .2;
    content: "";
    left: 0;
    top: 0;
}
.al_clock{
    height: 50px;
    position: relative;
}
.al_box_third_template:hover{
    border-color: #e8e8e8;
    box-shadow: rgb(28 28 28 / 12%) 0 0.4rem 1.8rem ;
    background-color: #fff ;
    box-sizing: border-box ;
    border: 1px solid #e8e8e8 ;
}
.al_new_wrapper_design .product-box, .al_new_wrapper_design .suppliers-box{
    display: block;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background: 0 0;
    box-shadow: none;
    border: 1px solid transparent;
}
.al_new_wrapper_design .suppliers-box .suppliers-img-outer{
    border: none;
    background-color: #fff;
    padding: 0;
    position: relative;
}
.al_custom_vendors_sec .suppliers-img-outer{
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    padding: 0;
    box-shadow: rgb(0 0 0 / 8%) 0 3px 12px;
    margin: 0 auto 20px;
}
.al_new_wrapper_design .suppliers-box .suppliers-img-outer img{
   object-fit: contain;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   position: relative;
}
.render_trending_vendors .slick-slide>div,
.suppliers-slider-vendors .slick-slide>div{
   margin: 0 12px;
}
.al_new_wrapper_design .product-m.recent-orders .slick-slide>div{
   padding: 2px 0 2px 20px;
   margin: 0 0px 0 20px;
}
.order_detail{
   position: relative;
   margin-bottom: 10px!important;
}
.order_detail:before{
   content: "";
   border-left: 1px solid var(--theme-deafult);
   background-color: var(--theme-deafult);
   position: absolute;
   height: calc(100% - 30px);
   left: -1px;
   top: 15px;
}
.progress-order{
   width: calc(100% + 48px);
   margin: -24px 0 20px;
   background: #00000012;
   color: var(--theme-deafult);
   position: relative;
   left: -24px;
   font-weight: 600;
   font-size: 16px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   padding: 5px 0;
}
.pulse{
   display: block;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: var(--theme-deafult);
   cursor: pointer;
   box-shadow: 0,0,0 rgb(67 190 225 / 50%);
   position: absolute;
   left: -4px;
   top: 6px;
   -webkit-animation: pulse-animation 2s infinite;
   -moz-animation: pulse-animation 2s infinite;
   animation: pulse-animation 2s infinite;
}
@-webkit-keyframes pulse-animation{0%{box-shadow:0 0 0 0 rgba(0,0,0,.2)}100%{box-shadow:0 0 0 20px transparent}}
@keyframes pulse-animation{0%{box-shadow:0 0 0 0 rgba(0,0,0,.2)}100%{box-shadow:0 0 0 20px transparent}}
.status_box{
   list-style: none;
}
.status_box li img{
   opacity: .5;
}
.status_box li{
   margin: 0 0 10px;
}
.status_box label{
   background: rgba(247,184,75,.25);
   color: #f7b84b;
   border-radius: 50px;
   padding: 2px 10px;
   font-size: 12px;
   overflow: hidden;
   vertical-align: middle;
}
.product_list li{
   position: relative;
   list-style: none;
   height: 50px;
   width: 50px;
   margin: 0 0 30px 10px;
}
.product_list li img{
   width: 100%;
   object-fit: cover;
   height: 100%;
   border-radius: 50px;
}
.item_no {
   width: 30px;
   height: 30px;
   line-height: 30px;
   font-size: 12px;
   font-weight: 500;
   letter-spacing: -1px;
   top: -7px;
   right: -6px;
   background: var(--theme-deafult);
   text-align: center;
   border-radius: 50px;
   color: #fff;
}
.items_price {
   font-weight: 700;
   font-size: 12px;
   color: var(--theme-deafult);
   margin: 0;
}
.dark-light{
   position: fixed;
   right: 0;
   width: 40px;
   height: 40px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   text-align: center;
   z-index: 1111;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   font-size: 14px;
   text-decoration: none;
   border-radius: 50px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   color: #fff;
   background-color: var(--theme-deafult);
   -webkit-box-shadow: 0 0 5px 0 rgb(154 154 154 / 54%);
   box-shadow: 0 0 5px 0 rgb(154 154 154 / 54%);
   top: calc(50% + 34px);
   cursor: pointer;
}
.dark-light:before{
   content: "\f186";
   font-family: 'FontAwesome' !important;
   position: absolute;
   left: 0;
   color: #fff;
   top: 50%;
   margin: auto;
   right: 0;
   transform: translateY(-50%);
}
.dark .dark-light:before{
    content: "\2600";
    top: 13px;
    color: rgb(255, 166, 0);
    font-size: 16px;
}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}
.dark  .dark-light{
    background-color: #fff;
}
.al_gradientSec,
#al_four_design .main-menu{
    position: relative;
    z-index: 1;
}
.al_gradientSec::before{
    position: absolute;
    content: "";
    background: #fff;
    background: -webkit-linear-gradient(to bottom, var(--theme-deafult), #fff);
    background: linear-gradient(to bottom, var(--theme-deafult), #fff);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3;
}

.navigation_tab_al.nav-material.tab-icons{
    padding: 4px;
    border: 1px solid var(--theme-deafult);
    border-radius: 70px;
    overflow: hidden;
}
.navigation_tab_al.nav-material.tab-icons .nav-link{
    color: var(--theme-deafult);
    font-weight: 600;
    padding: 4px 20px;
    border: none;
    border-radius: 0;
}
.navigation_tab_al.nav-material.tab-icons .nav-link:hover,
.navigation_tab_al.nav-material.tab-icons .nav-link.active{
    border-radius: 50px;
    background-color: var(--theme-deafult);
    color: #fff;
    border-color: transparent;
}
#our_vendor_main_div section:nth-child(even){
    background-color: #F4F7FA;
}
.product-m .slick-slide{
    margin: 0 20px;
}
.vendors .slick-prev:before,
.vendors .slick-next:before{
    color: var(--theme-deafult);
    font-family: 'FontAwesome';
    font-size: 40px;
}
.vendors .slick-arrow{
    top: -20px;
    right: 0;
    height: 50px;
    width: 30px;
}
.vendors .slick-prev{left: auto;
    right: 20px;}
.vendors .slick-next{right: 0;}
section.home-slider-wrapper{padding: 0;}
.slick-slider .img-outer-box{
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}
.img-outer-box img{height: 100%;width: 100%;margin: 0;}
.al_vendorName{
    font-size: 18px;
    font-weight: 500;
}
.displayProducts .product-image{
    height: 200px;
}
.displayProducts .product-image img{height: 100%;width: auto;display: block;
    margin: auto;}

.al_body_template_four .card_price.loading{
    position: absolute;
    right: 0;
    border-radius: 15px 0 0 15px;
    width: 120px;height: 30px;
}
.al_body_template_four .shimmer_effect .grid-row .cards{
    margin-bottom: 110px;
    position: relative;
}
.al_body_template_four .shimmer_effect .card_line{display: none;}
/* dark mode */
body.dark{
    background-color: #2b2b2b;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: #cfd4da;
}
body.dark .top-header.site-topbar.al_custom_head,
body.dark  article#page-container .site-header,
body.dark  .al_new_wrapper_design {
    background-color: #2b2b2b;
}
body.dark .al_new_wrapper_design .al_custom_brand .brand-box h6,
body.dark .al_new_wrapper_design .product-description h6.card_title,
body.dark .h1, body.dark .h2, body.dark .h3, body.dark .h4, body.dark .h5, body.dark .h6, body.dark h1, body.dark h2,body.dark h3,body.dark h4,body.dark  h5,body.dark h6 {
    color: #fff;
}
body.dark  .al_footer_template_three,
body.dark  .al_box_third_template:hover{background-color: #0b0b0b;border-color: #000;}

/* shimmer_effect start */
.shimmer_effect .menu-slider span .loading{width:calc(100% - 20px);height:10px;display:block;margin:auto}
.shimmer_effect{overflow:hidden}
.grid-row.grid-4-4{display:grid;grid-template-columns:repeat(4,1fr);grid-gap:80px}.shimmer_effect .card_image{width:100%;height:100%}.shimmer_effect .card_image.loading{width:100%;height:100px;margin-bottom:10px}.shimmer_effect .card_title.loading{width:50%;height:10px;margin:10px 0;border-radius:3px;position:relative}.shimmer_effect .card_content.loading{width:80%;height:10px;margin:10px 0;border-radius:3px;position:relative}.shimmer_effect .card_description{padding:8px;font-size:16px}.shimmer_effect .card_description.loading{height:2rem;margin:10px 0;border-radius:3px}.shimmer_effect .loading{position:relative;background:#cccccc86;overflow:hidden}.shimmer_effect .loading:after{content:"";display:block;position:absolute;top:0;width:100%;height:100%;transform:translateX(-100px);background:linear-gradient(90deg,transparent,rgba(255,255,255,0.2),transparent);animation:loading .8s infinite}.shimmer_effect h2.h2-heading{width:260px;height:20px}.shimmer_effect .card_icon{width:30px;height:30px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px}.shimmer_effect .card_price{width:50px;height:20px}.shimmer_effect .card_line{height:1px;width:100%;margin:10px 0}@keyframes loading{100%{transform:translateX(100%)}}.custom-checkbox .custom-control-input:checked~.custom-control-label::after{background-color:var(--theme-deafult)}
/* shimmer_effect end */


.product-card-box.al_custom_vendors_sec_al{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    cursor: pointer;
    margin-bottom: 20px;
}
.al_custom_vendors_sec_al .suppliers-img-outer img{
    border-radius: 50%;
    height: 100%;
}
.al_boxSeeAll:hover,
.product-card-box.al_custom_vendors_sec_al:hover{
    background-color: var(--theme-deafult);
}
.al_custom_vendors_sec_al h6{
    font-size: 20px;
    font-weight: 600;
}
.icon-ic_currency:before{
    color: var(--theme-deafult)
}
.al_boxSeeAll:hover a.al_boxSeeAllArea,
.al_custom_vendors_sec_al:hover h6{color: #fff;}
.al_custom_vendors_sec_al span.rating-number{display: none;}
.al_boxSeeAll{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    border-radius: 20px;
    bottom: 25px;
    min-height: 180px;
    right: 20px;
}
.al_boxSeeAll span{
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 120px;
    border-radius: 50%;
    background-color: #eee;
    margin-bottom: 10px;
}
.al_boxSeeAll span i.fa.fa-arrow-right{
    font-size: 40px;
}
a.al_boxSeeAllArea{
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: 500;
}