
@media (max-width: 1430px){
.al_new_wrapper_design .top-banner-wrapper.text-center .common-banner{border-radius:20px;height:200px; margin-bottom: 30px;}
.al_desktop_banner {height: 240px;}
.al_new_ipad_view.ipad-view {padding-right: 15px;}
.al_new_wrapper_design .rating-text-box span {font-weight: 400;}.container_fluid_al .container.al_mobile-header {max-width: 100%;}
.slick-slide .product-card-box h6{font-size: 10px;}.top-header.site-topbar.al_custom_head .container {max-width: 100%;padding: 0 12px !important;}.top-header.site-topbar.al_custom_head .container .row{margin: 0;}

}
@media (max-width: 1199px){
.top-header .header-dropdown li.onhover-dropdown {padding: 0 10px;}
.pixelstrap a .sub-arrow{display: none;}
}
@media (max-width: 991px){
    .al_mobile_menu{display:block}
    .pixelstrap a .sub-arrow {right: 0;display: none;}
    .al_count_tabs_new_design li.navigation-tab-item{margin-right:0}.al_new_wrapper_design .inner-pages-offset{margin-top:0}.al_new_wrapper_design .al_mobile_menu .onhover-dropdown_al li{padding:8px 0 0}.al_z_index{display:none}.al_mobile_menu .navbar-collapse{background-color:#fff;width:100%;max-width:200px;height:100vh;right:-200px;top:0;-webkit-transition:.5s;transition:.5s;box-shadow:0 0 7px rgba(0 0 0 / 30%);z-index:0}.al_mobile_menu .navbar-collapse.show{right:0}.al_new_wrapper_design .al_mobile_menu .onhover-dropdown,.al_new_wrapper_design .al_mobile_menu .onhover-dropdown_al{padding-left:30px;padding-right:30px;display:block}.al_new_wrapper_design .al_mobile_menu .onhover-dropdown:before{right:30px}.al_mobile_menu .navbar-toggler{z-index:9;position:relative}.footer-mobile-contant{display:block!important;text-align:left}
    .home-slider-wrapper .banner-img-outer img{border-radius:20px;}
}
@media (max-width: 767px){
    .recent-orders{padding:0 12px}.al_desktop_banner{display:none}.al_mobile_banner{display:block!important;height:80px}.sm.slick-initialized .slick-slide div{width:max-content}.al_menu-drawer.open li.onhover-dropdown ul.onhover-show-div li{display:block;padding:10px 30px}.al_menu-drawer.open li.onhover-dropdown ul.onhover-show-div li a{font-size:12px}#al_new_design .pixelstrap a,#al_new_design .pixelstrap a:active,#al_new_design .pixelstrap a:hover,#al_new_design .pixelstrap li a{font-size:12px}body .royo_whatsapp_img{bottom:10%}body .tap-top.top-cls{bottom:10%;z-index:9999}
    .al_count_tabs_new_design.al_tab_mobile li a.nav-link .al_tabsIcons{display:block;margin-bottom:0;width:40px;height:40px;line-height:40px}.product-m.slick-slider .slick-slide>div{margin:0}.royo_whatsapp_img img{width:35px}
}



@media(max-width:991px){.filter-main-btn,.filter-main-btn span{margin:0}.al_new_wrapper_design .displayProducts .product-card-box,.al_new_wrapper_design .related-products .common-product-box{padding:0;display:block}.grid-row.grid-4-4 .cards{display: none;}
.grid-row.grid-4-4 .cards:first-child{display: block;}}



@media(max-width:767px){.al_body_template_three .btn.btn-solid{font-size: 12px;}.al_body_template_three .common-banner,.al_body_template_three .product-banner-img{height:80px;border-radius:20px}.collection-collapse-block{padding:15px 10px;background-color:#fff}.collection-collapse-block-content{padding:0 20px}.collection-collapse-block .collapse-block-title,.collection-filter .theme-card h5.title-border{font-size:14px}.theme-card span.filter-back{font-size:12px;text-transform:capitalize;font-weight:300;color:var(--theme-deafult)}.al_body_template_three .small-section{padding:0}.al_new_wrapper_design .top-banner-wrapper.text-center .common-banner img{width:100%;height:100%;object-fit:cover}
i.fa.fa-solid.fa-angles-up {margin-top: 0;}#cart_table .number .input-number {margin: 0 10px;width: auto;max-width: 80px;}
a.navbar-brand.mr-xl-3.mr-0 {height: 50px !important;}
.al_new_wrapper_design .top-banner-wrapper.text-center .common-banner{height:80px; margin-bottom: 20px;}
.grid-row.grid-4-4 {display: grid;grid-template-columns: repeat(1,1fr);grid-gap: 20px;}
.footer-title{border:0}.sub-title{margin-bottom:20px}footer#footer{position:relative;}
article#content-wrap{padding-bottom:0 !important}body .footer-theme .sub-title h4{font-size:16px;margin-bottom:10px}.container.al_mobile-header{max-width:100%}.al_new_wrapper_design #myCarousel{border-radius:20px}
.al_new_wrapper_design .al_custom_brand .brand-box .brand-ing{height:80px;width:80px}.al_new_wrapper_design .top-header.site-topbar.al_custom_head{padding-bottom:0;height:auto}
.location-bar.d-inline-flex.align-items-center.position-relative{width:100%;max-width:240px}
.al_count_tabs_new_design li a.nav-link img{width:100%;padding: 10px;}.footer-title .according-menu{display:none}section.home-slider-wrapper{padding-top:20px!important;padding-bottom:20px}
.al_new_wrapper_design h2.h2-heading{font-size:20px;padding-left: 15px;}.footer-theme .sub-title .contact-list li{padding-left:0!important}.sub-footer{display:none}.menu-navigation_al li.al_main_category a .nav-cate-img img{height:50px!important;width:50px!important}.menu-navigation_al li.al_main_category a .nav-cate-img{height:50px;width:50px}
.al_custom_head_map_box{margin-bottom:10px;padding: 0 9px !important;overflow: hidden;border-radius: 8px;}

.product-wrapper-grid a.product-box{
padding: 0 !important;
}
.product-wrapper-grid a.product-box img{width: 100%;}
.collection-product-wrapper{
    position: relative;
}
.collection-product-wrapper .product-top-filter{position: absolute;}

}
@media only screen and (max-width : 768px) {
    .aos-animate {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}

