.al_body_template_two footer#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0!important;
}
.create_box a.btn.btn-solid.mt-2 {
    height: auto;
    padding: 5px 20px !important;
}