
.fa-facebook-square:before, .fa-heart:before, .fa-twitter:before, .fa-user:before, .fa-whatsapp:before{
    font-family: FontAwesome !important;
}
/*.al_body_template_two article#content-wrap{padding-bottom: 0 !important;}
.al_body_template_two .offset-top_al.al_offset-top-home{
    margin-top: 200px !important;
}*/
.al_body_template_two .pixelstrap ul{
    padding: 5px 0;
    z-index: 9;
}
.al_body_template_two .common-banner{
    height: 300px;
    margin-bottom: 0px;
}
.al_body_template_two .pixelstrap li a,
.al_body_template_two .product-card-box{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.al_body_template_two header.site-header.fixed-bar img.blur-up.lazyloaded{
    display: none;
}
.al_body_template_two a.btn.btn-solid_al{
    padding: 0;
}
.al_body_template_two  .common-product-box,
.al_body_template_two .product-box,
.al_body_template_two .product-card-box,
.al_body_template_two .suppliers-box{
    border-bottom: 0!important;
    position: relative;
    border-radius: 0;
    overflow: hidden;
    background-color: transparent;
    box-shadow: none;
}
.al_body_template_two .common-product-box:hover,
.al_body_template_two .product-box:hover,
.al_body_template_two .product-card-box:hover,
.al_body_template_two .suppliers-box:hover{
    box-shadow: none;
    background-color: #fff;
}
.al_body_template_two .common-product-box:hover img,
.al_body_template_two .product-box:hover img,
.al_body_template_two .product-card-box:hover img,
.al_body_template_two .suppliers-box:hover img{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.al_body_template_two .scale-effect{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
}
.al_body_template_two  .offer-slider.al .inner_spacing{
    width: 100% !important;
}
.al_body_template_two   .offer-slider .img-outer-box{
    width: 100%;
    height: auto;
}
.al_body_template_two  .offer-slider.al .common-product-box{
    padding: 10px;
}
.al_body_template_two  .offer-slider.al .common-product-box .col-4{padding-right: 0 !important;}
.al_body_template_two  .offer-slider.al .common-product-box .inner_spacing p{
    margin: 0px 0 0;
}
.al_body_template_two  .offer-slider.al .common-product-box .product-description .card_title{
    min-height: auto;
    margin: 0 !important;
}
.al_body_template_two footer#footer section.section-b-space.light-layout{
    background-color: #fff;
}
.al_body_template_two footer#footer .sub-footer{
    background-color: #f9f9f9;
}
body.al_body_template_two .collection-filter .theme-card .offer-slider img{padding: 0;}
.al_body_template_two .related-products a.common-product-box.scale-effect.text-center{overflow: hidden;display: block;}
.al_body_template_two .related-products a.common-product-box.scale-effect.text-center:hover{background-color: #fff;}
.al_body_template_two .top-banner-wrapper.text-center{margin-bottom: 20px;background-color: transparent;box-shadow: none;}
ul.al_main_category_list{
    z-index: 99;
}
article#page-container{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
@media (max-width: 767px){
.footer-contant .footer-social ul{
    margin: unset;
    text-align: center;
    margin: 0 auto;
}
.al_body_template_two .al_template_two_content .product-image{height: 90px;}
body.al_body_template_two #page-container .vendors .slick-slider .slick-slide{
    margin: 20px 0 0;
}
body.al_body_template_two .top-header .header-dropdown .mobile-account i:before,
body.al_body_template_two .top-header .header-dropdown .mobile-wishlist i:before{
    font-family: 'themify' !important;
}
body.al_body_template_two .mobile-menu.main-menu{
    bottom: 10px;
    padding: 0 10px;
    width: 97%;
}
body.al_body_template_two #content-wrap .site-header .navbar-brand{
    padding: 0;
    margin: auto;
    width: 100%;
    height: auto !important;
}
body.al_body_template_two header{
    padding: 0;
}
body.al_body_template_two .inner_spacing h4{
    font-size: 12px;
}
body.al_body_template_two .shimmer_effect .grid-row .card_image{
    height: 90px !important;
}
}



body[dir=rtl] .slick-prev{
    left: 30px !important;
}



    