
.fa-facebook-square:before, .fa-heart:before, .fa-twitter:before, .fa-user:before, .fa-whatsapp:before{
    font-family: FontAwesome !important;
}
/*.al_body_template_two article#content-wrap{padding-bottom: 0 !important;}
.al_body_template_two .offset-top_al.al_offset-top-home{
    margin-top: 200px !important;
}*/
ul.al_main_category_list{
    z-index: 99;
}
article#page-container{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
@media (max-width: 767px){
.footer-contant .footer-social ul{
    margin: unset;
    text-align: center;
    margin: 0 auto;
}
.al_body_template_two .al_template_two_content .product-image{height: 90px;}
body.al_body_template_two #page-container .vendors .slick-slider .slick-slide{
    margin: 20px 0 0;
}
body.al_body_template_two .top-header .header-dropdown .mobile-account i:before,
body.al_body_template_two .top-header .header-dropdown .mobile-wishlist i:before{
    font-family: 'themify' !important;
}
body.al_body_template_two .mobile-menu.main-menu{
    bottom: 10px;
    padding: 0 10px;
    width: 97%;
}
body.al_body_template_two #content-wrap .site-header .navbar-brand{
    padding: 0;
    margin: auto;
    width: 100%;
    height: auto !important;
}
body.al_body_template_two header{
    padding: 0;
}
body.al_body_template_two .inner_spacing h4{
    font-size: 12px;
}
body.al_body_template_two .shimmer_effect .grid-row .card_image{
    height: 90px !important;
}
}